<div id="shortcuts" #shortcuts>
  <div class="shortcuts-mobile-toggle" fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.lt-md
      *ngIf="!mobileShortcutsPanelActive">
    <button mat-icon-button (click)="showMobileShortcutsPanel()">
      <mat-icon class="amber-600-fg">star</mat-icon>
    </button>
  </div>

  <div class="shortcuts" fxHide fxShow.gt-sm>
    <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="w-40 h-40 p-4" fxLayout="row" fxLayoutAlign="center center"
            *ngFor="let shortcut of shortcutsItems">
          <a [routerLink]="[shortcut.url]" mat-icon-button [matTooltip]="shortcut.title">
            <mat-icon *ngIf="shortcut.icon">{{ shortcut.icon }}</mat-icon>
            <span *ngIf="!shortcut.icon" class="h2 secondary-text text-bold">{{ shortcut.title.charAt(0) }}</span>
          </a>
        </div>

        <button mat-icon-button [matTooltip]="'Cliquer pour ajouter/retirer un raccourci' | translate"
                [matMenuTriggerFor]="shortcutsMenu" (menuOpened)="onMenuOpen()">
          <mat-icon class="amber-600-fg">star</mat-icon>
        </button>
      </div>

      <div class="shortcuts-mobile-close" fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.lt-md>
        <button mat-icon-button (click)="hideMobileShortcutsPanel()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <mat-menu class="w-240 mat-elevation-z2" #shortcutsMenu="matMenu" xPosition="after" yPosition="below">
      <mat-form-field class="px-16 w-100-p" floatLabel="never" (click)="$event.stopPropagation()">
        <!-- <mat-icon matPrefix>search</mat-icon> -->
        <input #searchInput matInput (keyup)="search($event)" placeholder="Search for an app or a page">
      </mat-form-field>

      <mat-divider></mat-divider>
      <!-- if not searching show shortcuts -->
      <mat-nav-list perfectScrollbar [ngStyle]="{'max-height': '312px', 'overflow': 'auto'}" *ngIf="!searching">
        <mat-list-item *ngFor="let shortcut of shortcutsItems" (click)="toggleShortcuts($event, shortcut)">
          <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon class="mr-8" *ngIf="shortcut.icon">{{ shortcut.icon }}</mat-icon>
            <span class="h2 w-32 h-32 p-4 mr-8 secondary-text text-bold" fxLayout="row"
                  fxLayoutAlign="center center" *ngIf="!shortcut.icon">
              {{ shortcut.title[0].toUpperCase() }}
            </span>
            <p matLine fxFlex>{{ shortcut.title }}</p>
            <mat-icon class="ml-8">star</mat-icon>
          </div>
        </mat-list-item>
        <!-- No shortcuts -->
        <mat-list-item *ngIf="shortcutsItems.length === 0">
          <p>
            <small translate>Aucun raccourci disponible!</small>
          </p>
        </mat-list-item>
      </mat-nav-list>
      <!-- if searching show filtered navigation items -->
      <mat-nav-list perfectScrollbar [ngStyle]="{'max-height': '312px', 'overflow': 'auto'}" *ngIf="searching">
        <mat-list-item *ngFor="let item of filteredNavigationItems" (click)="toggleShortcuts($event, item)">
          <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon class="mr-8" *ngIf="item.icon">{{ item.icon }}</mat-icon>
            <span class="h2 w-32 h-32 p-4 mr-8 secondary-text text-bold" fxLayout="row"
                  fxLayoutAlign="center center" *ngIf="!item.icon">
              {{ item.title[0].toUpperCase() }}
            </span>
            <p matLine fxFlex>{{ item.title }}</p>
            <mat-icon class="ml-8" *ngIf="isInShortcuts(item)">star</mat-icon>
          </div>
        </mat-list-item>
        <!-- No results -->
        <mat-list-item *ngIf="filteredNavigationItems.length === 0">
          <p>
            <small translate>Aucun résultat trouvé!</small>
          </p>
        </mat-list-item>
      </mat-nav-list>
    </mat-menu>
  </div>
</div>
