@import "theming";

$searchBarWidth: 64px;

:host {
  .app-fullscreen-toggle {
    min-width: $searchBarWidth;
    height: $toolbar-height;
    font-size: 13px;

    @include media-breakpoint(lt-md) {
      height: $toolbar-height-sm;
    }

    .app-fullscreen-toggler {
      cursor: pointer;
      padding: 0 20px;
      margin: 0;
      width: $searchBarWidth !important;
      height: $toolbar-height !important;
      line-height: $toolbar-height !important;

      @include media-breakpoint(lt-md) {
        height: $toolbar-height-sm !important;
        line-height: $toolbar-height-sm !important;
      }
    }
  }
}
