<div class="app-fullscreen-toggle" fxFlex="0 1 auto">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button class="app-fullscreen-toggler"
            [attr.aria-label]="'Toggle Fullscreen' | translate" (click)="toggleFullscreen()">
      <mat-icon class="s-24" *ngIf="!isInFullscreen">fullscreen</mat-icon>
      <mat-icon class="s-24" *ngIf="isInFullscreen">fullscreen_exit</mat-icon>
    </button>
  </div>
</div>
