// ---------------------------------------------------------------------------
// Highlight
//

code[class*="language-"],
pre[class*="language-"] {
  tab-size: 4;
  hyphens: none;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  font-family: $font-family-code;
  font-size: 14px;
  line-height: 1.6;
  color: #cdd3de;
  background: #263238;

  .namespace {
    opacity: 0.7;
  }

  &.token {
    &.cdata,
    &.comment,
    &.doctype,
    &.prolog {
      color: #62727a;
    }

    &.boolean,
    &.null,
    &.number,
    &.operator {
      color: #ea9560;
    }

    &.string {
      &,
      .language-css &,
      .style & {
        color: #80cbc4;
      }
    }

    &.attr-name {
      color: #ea9560;
    }

    &.entity,
    &.url {
      color: #80cbc4;
    }

    &.selector {
      color: #82aaff;
    }

    &.attr-value,
    &.control,
    &.directive,
    &.keyword,
    &.unit {
      color: #8bd649;
    }

    &.important {
      color: #ec5f67;
    }

    &.at-rule,
    &.regex,
    &.statement {
      color: #80cbc4;
    }

    &.placeholder,
    &.variable {
      color: #89ddff;
    }

    &.property {
      color: #fc0;
    }

    &.tag {
      color: #89ddff;
    }

    &.important,
    &.statement {
      font-weight: 700;
    }

    &.punctuation {
      color: #cdd3de;
    }

    &.entity {
      cursor: help;
    }

    &.debug {
      color: red;
    }
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border-radius: 0;
  border: none;
  box-shadow: none;
}

pre[class*="language-"] {
  padding: 12px;
}

:not(pre) > code[class*="language-"] {
  padding: 2px 6px;
}
