// ---------------------------------------------------------------------------
// Material Table
//

.mat-table {
  .mat-header-cell {
    font-size: 14px;
  }

  // Table bordered
  &.mat-table-bordered {
  }

  // Table condensed
  &.mat-table-condensed {
  }

  // Table hover
  &.mat-table-hover {
  }

  // Table editable
  &.mat-table-editable {
  }
}
