<mat-list class="date" cdkFocusRegionStart>
  <h3 cdkFocusInit matSubheader>
    <span translate>Aujourd'hui</span>
  </h3>
  <div class="secondary-text mat-display-1 mb-0 p-16">
    <div class="mb-12">{{ date | amDateFormat:'dddd'}}</div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <span>{{ date | amDateFormat:'DD'}}</span>
      <span class="mat-subheading-1" *ngIf="(date | amDateFormat:'D') === '1'">er</span>
      <span class="ml-4">{{ date | amDateFormat:'MMMM'}}</span>
    </div>
  </div>
</mat-list>

<mat-divider cdkFocusRegionEnd></mat-divider>

<mat-list *ngIf="[]?.length > 0">
  <h3 matSubheader>
    <span translate>Upcoming Events</span>
  </h3>
  <mat-list-item *ngFor="let event of []">
    <h3 matLine>{{ event.title }}</h3>
    <p matLine class="secondary-text">{{ event.detail }}</p>
  </mat-list-item>
</mat-list>

<mat-divider *ngIf="[]?.length > 0"></mat-divider>

<mat-list *ngIf="[]?.length > 0">
  <h3 matSubheader>
    <span translate>Notes</span>
  </h3>
  <mat-list-item *ngFor="let note of []">
    <h3 matLine>{{ note.title }}</h3>
    <p matLine class="secondary-text">{{ note.detail }}</p>
  </mat-list-item>
</mat-list>

<mat-divider *ngIf="[]?.length > 0"></mat-divider>

<mat-list>
  <h3 matSubheader>
    <span>Quick settings</span>
  </h3>
  <mat-list-item>
    <mat-slide-toggle fxFlex [(ngModel)]="settings.notify" (change)="onChange($event)" color="primary"
                      [attr.aria-label]="'Notifications' | translate" labelPosition="before">
      <h3 translate>Notifications</h3>
    </mat-slide-toggle>
  </mat-list-item>
  <mat-list-item>
    <mat-slide-toggle fxFlex [(ngModel)]="settings.cloud" (change)="onChange($event)" color="accent"
                      [attr.aria-label]="'Cloud' | translate" labelPosition="before">
      <h3 translate>Cloud</h3>
    </mat-slide-toggle>
  </mat-list-item>
  <mat-list-item>
    <mat-slide-toggle fxFlex [(ngModel)]="settings.retro" (change)="onChange($event)" color="warn"
                      [attr.aria-label]="'Retro Thrusters' | translate" labelPosition="before">
      <h3 translate>Retro Thrusters</h3>
    </mat-slide-toggle>
  </mat-list-item>
</mat-list>
