<div class="navbar-vertical" *ngIf="layout === 'vertical'">
  <div class="navbar-header" [ngClass]="[settings.layout.toolbar.elevation, settings.layout.navbar.background]">
    <div class="logo">
      <img [src]="app?.logo" [alt]="app?.name" class="logo-icon">
      <span class="logo-text">{{app?.name}}</span>
    </div>
    <button class="toggle-sidebar-folded" mat-icon-button fxHide.lt-lg (click)="toggleSidebarFolded('navbar')">
      <mat-icon>menu</mat-icon>
    </button>
    <button class="toggle-sidebar-opened" mat-icon-button fxHide.gt-md (click)="toggleSidebarOpened('navbar')">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="navbar-content" perfectScrollbar [perfectScrollbarOptions]="{suppressScrollX: true}">
    <app-navigation [navigation]="navigation" [layout]="layout"></app-navigation>
  </div>
</div>

<div class="navbar-horizontal" *ngIf="layout === 'horizontal'">
  <app-navigation [navigation]="navigation" [layout]="layout"></app-navigation>
</div>
