@import "theme-variables";

// body {
//   &.app-sidebar-folded {
//     .content-wrapper {
//       &:last-child {
//         padding-left: 64px !important;
//       }

//       &:first-child {
//         padding-right: 64px !important;
//       }

//       &:first-child:last-child {
//         padding-left: 0 !important;
//         padding-right: 0 !important;
//       }
//     }
//   }
// }

app-sidebar {
  &.folded {
    &:not(.unfolded) {
      .navbar-vertical {
        .navbar-header {
          padding: 0 13px;

          .logo {
            .logo-text {
              opacity: 0;
              transition: opacity 0.2s ease;
            }
          }
        }
      }
    }
  }
}

navbar {
  &:not(.top-navbar) {
    height: 100%;
    overflow: hidden;
  }

  .navbar-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .navbar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $toolbar-height;
      min-height: $toolbar-height;
      padding: 0 16px 0 24px;
      transition: padding 0.2s ease;
      background-color: rgba(white, 0.05);
      // @include mat-elevation(1);

      .logo {
        display: flex;
        align-items: center;

        .logo-icon {
          width: 34px;
          height: 34px;
        }

        .logo-text {
          margin-left: 8px;
          font-family: "Raspoutine DemiBold", sans-serif;
          font-size: 20px;
          font-weight: 300;
          letter-spacing: 0.4px;
        }
      }
    }

    .navbar-content {
      flex:1 1 auto;
      overflow-y: auto;
    }
  }

  &.right-navbar {
    .toggle-sidebar-opened {
      mat-icon {
        transform: rotate(180deg);
      }
    }
  }
}

// .top-navbar {
//   + #wrapper {
//     > .left-navbar {
//       display: none !important;

//       @include media-breakpoint(lt-lg) {
//         display: flex !important;
//       }
//     }
//   }
// }
