<ng-template [ngIf]="!item.hidden">
  <ng-template [ngIf]="item.url">
    <a class="nav-link" [routerLink]="item.url" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: item.exactMatch || false}" matRipple>
      <mat-icon class="nav-link-icon" *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
      <span class="nav-link-badge" *ngIf="item.badge"
            [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
            [translate]="item.badge.translate">{{ item.badge.title }}</span>
    </a>  
  </ng-template>

  <ng-template [ngIf]="item.function">
    <span class="nav-link" (click)="item.function()" matRipple>
      <mat-icon class="nav-link-icon" *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
      <span class="nav-link-badge" *ngIf="item.badge"
            [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
            [translate]="item.badge.translate">{{ item.badge.title }}</span>
    </span>  
  </ng-template>

  <ng-template [ngIf]="item.url && item.function">
    <a class="nav-link" matRipple (click)="item.function()" [routerLink]="item.url" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: item.exactMatch || false}">
      <mat-icon class="nav-link-icon" *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
      <span class="nav-link-badge" *ngIf="item.badge"
            [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
            [translate]="item.badge.translate">{{ item.badge.title }}</span>
    </a>  
  </ng-template>
</ng-template>
