<div id="main" [class.boxed]="settings.layout.width === 'boxed'">
  <ng-template [ngIf]="settings.layout.toolbar.position === 'above'">
    <ng-template [ngIf]="!settings.layout.toolbar.hidden">
      <toolbar [ngClass]="[settings.layout.toolbar.position, settings.layout.toolbar.background]"
               [user]="user" [cabinet]="company" [apps]="apps"></toolbar>
    </ng-template>
  </ng-template>

  <div class="container" id="container-1">
    <ng-template [ngIf]="settings.layout.navbar.position === 'left'">
      <ng-template [ngIf]="!settings.layout.navbar.hidden">
        <app-sidebar [ngClass]="[settings.layout.navbar.elevation]" [name]="'navbar'" [lockedOpen]="'gt-md'"
                     [folded]="settings.layout.navbar.folded">
          <navbar class="left-navbar" [ngClass]="[settings.layout.navbar.background]" layout="vertical"></navbar>
        </app-sidebar>
      </ng-template>
    </ng-template>

    <div class="container" id="container-2">
      <ng-template [ngIf]="settings.layout.toolbar.position === 'below-fixed'">
        <ng-template [ngIf]="!settings.layout.toolbar.hidden">
          <toolbar [ngClass]="[settings.layout.toolbar.position, settings.layout.toolbar.background]"
                   [user]="user" [cabinet]="company" [apps]="apps"></toolbar>
        </ng-template>
      </ng-template>

      <div class="container" id="container-3" perfectScrollbar [perfectScrollbarOptions]="{
          suppressScrollX: true,
          updateOnRouteChange: true
        }">
        <ng-template [ngIf]="settings.layout.toolbar.position === 'below-static'">
          <ng-template [ngIf]="!settings.layout.toolbar.hidden">
            <toolbar [ngClass]="[settings.layout.toolbar.position, settings.layout.toolbar.background]"
                     [user]="user" [cabinet]="company" [apps]="apps"></toolbar>
          </ng-template>
        </ng-template>

        <content [class.inner-scroll]="settings.layout.content.innerScroll">
        </content>

        <ng-template [ngIf]="settings.layout.footer.position === 'below-static'">
          <ng-template [ngIf]="!settings.layout.footer.hidden">
            <footer [ngClass]="[settings.layout.footer.position, settings.layout.footer.background]"></footer>
          </ng-template>
        </ng-template>
      </div>

      <ng-template [ngIf]="settings.layout.footer.position === 'below-fixed'">
        <ng-template [ngIf]="!settings.layout.footer.hidden">
          <footer [ngClass]="[settings.layout.footer.position, settings.layout.footer.background]"></footer>
        </ng-template>
      </ng-template>
    </div>

    <ng-template [ngIf]="settings.layout.navbar.position === 'right'">
      <ng-template [ngIf]="!settings.layout.navbar.hidden">
        <app-sidebar [ngClass]="[settings.layout.navbar.elevation]" [name]="'navbar'" position="right" [lockedOpen]="'gt-md'"
                     [folded]="settings.layout.navbar.folded">
          <navbar class="right-navbar" [ngClass]="[settings.layout.navbar.background]" layout="vertical"></navbar>
        </app-sidebar>
      </ng-template>
    </ng-template>
  </div>

  <ng-template [ngIf]="settings.layout.footer.position === 'above'">
    <ng-template [ngIf]="!settings.layout.footer.hidden">
      <footer [ngClass]="[settings.layout.footer.position, settings.layout.footer.background, settings.layout.footer.elevation]"></footer>
    </ng-template>
  </ng-template>
</div>

<app-sidebar class="quick-panel" [name]="'quickPanel'" position="right">
  <quick-panel></quick-panel>
</app-sidebar>
