@import "theme-variables";

vertical-layout {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;

  #main {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;

    &.boxed {
      max-width: 1200px;
      margin: 0 auto;
      @include mat-elevation(8);
    }

    > .container {
      position: relative;
      display: flex;
      flex: 1 1 0%;
      width: 100%;
      min-height: 0;
      min-width: 0;

      > .container {
        position: relative;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        min-width: 0;

        > .container {
          position: relative;
          display: flex;
          flex: 1 1 0%;
          flex-direction: column;
          transform: translateZ(0);
          overflow-x: hidden;
          overflow-y: auto;

          content {
            &.inner-scroll {
              flex: 1 1 0%;
              min-height: 0;

              > :not(router-outlet) {
                flex: 1 1 0%;
              }
            }
          }
        }
      }
    }
  }
}
