@font-face {
  font-family: "Neuzeit Grotesk";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("neuzeit-grotesk-light.eot");
  src: url("neuzeit-grotesk-light.eot?#iefix") format("embedded-opentype"),
      url("neuzeit-grotesk-light.woff") format("woff"),
      url("neuzeit-grotesk-light.ttf") format("truetype"),
      url("neuzeit-grotesk-light.svg#NeuzeitGro-Lig") format("svg");
}
