<ol class="app-breadcrumb" *ngIf="(breadcrumb$ | async).length">
  <li class="app-breadcrumb-item" *ngFor="let breadcrumb of breadcrumb$ | async; last as isLast" [class.active]="isLast">
    <a [routerLink]="[breadcrumb.url, breadcrumb.params]" *ngIf="!isLast">{{ breadcrumb.label }}</a>
    <span *ngIf="isLast">{{ breadcrumb.label }}</span>
  </li>
</ol>
