// ---------------------------------------------------------------------------
// Avatars
//

@mixin avatar-size($size) {
  width: $size;
  min-width: $size;
  height: $size;
  line-height: $size;
}

.avatar {
  @include avatar-size(40px);
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #fff;

  &.square {
    border-radius: 0;
  }

  &.small {
    @include avatar-size(20px);
  }

  &.big {
    @include avatar-size(72px);
  }

  &.huge {
    @include avatar-size(96px);
  }
}

.avatar-wrapper {
  position: relative;

  .avatar {
    margin-top: 0;
    margin-bottom: 0;
  }

  mat-icon {
    &.status {
      position: absolute;
      top: 28px;
      left: 28px;
    }
  }
}

mat-icon {
  &.status {
    border-radius: 50%;

    &.online {
      color: #4caf50;

      &::before {
        content: "check_circle";
      }
    }

    &.do-not-disturb {
      color: #f44336;

      &::before {
        content: "do_not_disturb_on";
      }
    }

    &.away {
      background-color: #ffc107;
      color: #fff;

      &::before {
        content: "access_time";
      }
    }

    &.invisible {
      background-color: #fff;
      color: #bdbdbd;

      &::before {
        content: "radio_button_unchecked";
      }
    }

    &.offline {
      background-color: #fff;
      color: #646464;

      &::before {
        content: "not_interested";
      }
    }
  }
}
