// ---------------------------------------------------------------------------
// Forms
//

.form-wrapper {
  background: #fff;
  padding: 16px;

  .form-title {
    font-size: 21px;
    padding: 8px 0;
  }
}
