// ---------------------------------------------------------------------------
// Pagination
//

.simple-pagination {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  @include mat-elevation(1);
  background-color: #fff;
  padding: 0 8px;

  .pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 56px;
    line-height: 56px;
    border-radius: 0;
    margin: 0;
    font-weight: 400;
    color: rgba(black, 0.54);

    &:hover {
      color: rgba(black, 0.87);
    }

    &.active {
      cursor: default;
      color: rgba(black, 0.87);
    }

    &.disabled {
      cursor: default;
      color: rgba(black, 0.26);
    }
  }
}
