// ---------------------------------------------------------------------------
// Price Tables
//

.price-tables {
  .price-table {
    position: relative;
    background-color: #fff;
    width: 280px;
    border-radius: 2px;
    margin: 12px;
    overflow: hidden;

    &.style-1 {
      .package-type {
        font-size: 17px;
        padding: 16px 24px;

        .sale {
          font-size: 13px;
          font-weight: 600;
        }
      }

      .price {
        padding: 32px 32px 16px;

        .currency {
          padding-right: 4px;
          font-size: 24px;
          font-weight: 500;
          color: rgba(black, 0.54);
        }

        .value {
          font-size: 72px;
          font-weight: 300;
          line-height: 1;
        }

        .period {
          padding: 0 0 5px 4px;
          font-size: 17px;
          color: rgba(black, 0.54);
        }
      }

      mat-divider {
        margin: 16px 32px;
      }

      .terms {
        padding: 16px 32px;
        font-size: 15px;

        .terms {

        }
      }

      .cta-button {
        margin: 16px auto 32px auto;
        width: 128px;
      }
    }

    &.style-2 {
      .badge {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 11px;
        font-weight: 500;
        padding: 6px 8px;
      }

      .package-type {
        padding: 48px 32px 24px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
      }

      .price {
        padding: 0 32px 8px;

        .currency {
          padding-right: 4px;
          font-size: 24px;
          font-weight: 500;
          color: rgba(black, 0.54);
        }

        .value {
          font-size: 56px;
          font-weight: 300;
          line-height: 1;
        }
      }

      .period {
        padding: 0 32px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(black, 0.54);
        text-align: center;
      }

      .terms {
        padding: 32px;
        font-size: 15px;

        .term {
          padding-bottom: 8px;

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      .cta-button {
        margin: 8px auto 32px;
        width: 128px;
      }
    }

    &.style-3 {
      .package-type {
        padding: 32px;
        text-align: center;

        .title {
          font-size: 34px;
        }

        .subtitle {
          font-size: 17px;
          color: rgba(black, 0.54);
          font-weight: 500;
        }
      }

      .price {
        padding: 16px 32px;

        .currency {
          padding-right: 4px;
          font-size: 15px;
          font-weight: 500;
        }

        .value {
          font-size: 34px;
          font-weight: 300;
          line-height: 1;
        }

        .period {
          padding-left: 4px;
          text-align: center;
        }
      }

      .terms {
        margin: 32px;
        font-size: 15px;
        color: rgba(black, 0.54);

        .term {
          padding-bottom: 16px;

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      .cta-button {
        margin: 8px 32px;
      }

      .note {
        padding: 8px 32px 16px;
        text-align: center;
        color: rgba(black, 0.54);
      }
    }
  }
}
