// ---------------------------------------------------------------------------
// Tables - simple
//

.simple-table-container {
  background: #fff;

  .table-title {
    font-size: 20px;
    padding: 24px;
  }
}

table {
  &.simple {
    width: 100%;
    border: none;
    border-spacing: 0;
    text-align: left;

    thead {
      tr {
        th {
          padding: 16px 8px;
          font-weight: 500;
          color: rgba(black, 0.54);
          border-bottom: 1px solid rgba(black, 0.12);
          white-space: nowrap;

          &:first-child {
            padding-left: 24px;
          }

          &:last-child {
            padding-right: 24px;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 16px 8px;
          border-bottom: 1px solid rgba(black, 0.12);

          &:first-child {
            padding-left: 24px;
          }

          &:last-child {
            padding-right: 24px;
          }
        }

        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }

    &.clickable {
      tbody {
        tr {
          cursor: pointer;

          &:hover {
            background: rgba(black, 0.03);
          }
        }
      }
    }
  }
}
