<h1 mat-dialog-title translate>Confirm</h1>
<div mat-dialog-content>
  <mat-spinner></mat-spinner>
</div>
<div mat-dialog-actions class="pt-24" *ngIf="enableActions">
  <button mat-button mat-dialog-close translate>Annuler</button>
  <button mat-raised-button class="mat-accent mr-16" [mat-dialog-close]="true" translate>Confirmer</button>
</div>
