@function minimax($value) {
  @return min(100, max(0, $value));
}

@function isNaN($value) {
  @return type-of($value) != number;
}

@function re-gamma($n) {
  @if $n <= 0.0031308 {
    @return $n * 12.92;
  } @else {
    @return 1.055 * pow($n, (1 / 2.4)) - 0.055;
  }
}

@function de-gamma($n) {
  @if $n <= 0.04045 {
    @return $n / 12.92;
  } @else {
    @return pow((($n + 0.055) / 1.055), 2.4);
  }
}

@function brightness($color) {
  $rlin: de-gamma(red($color) / 255);
  $glin: de-gamma(green($color) / 255);
  $blin: de-gamma(blue($color) / 255);
  $result: 0.2126 * $rlin + 0.7152 * $glin + 0.0722 * $blin;
  @return re-gamma($result) * 100;
}

@function mat-contrast-generator($color, $dark: $dark-primary-text, $light: $light-primary-text) {
  @if $color == null {
    @return null;
  } @else {
    $color-brightness: brightness($color);
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);
    @return if(
      abs($color-brightness - $light-text-brightness) >
      abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

// Material Palette Generator
// It calculates all colors from base.
// These colors were determined by finding all HSL values for each google palette.
// Then calculating the differences in H, S, and L per color change individually.
// Finally applying these here.
// @params $color
@function mat-palette-generator($color, $dark: $dark-primary-text, $light: $light-primary-text) {
  $h: round(hue($color));
  $s: round(saturation($color));
  $l: round(lightness($color));

  @if (isNaN($h) or isNaN($s) or isNaN($l)) {
    @error "Invalid input";
  }

  @if ($h < 0 or $h > 360) {
    @error "Hue must be an integer within [0, 360]; given #{$h}";
  }
  @if ($s < 0 or $s > 100) {
    @error "Saturation must be an integer within [0, 100]; given #{$s}";
  }
  @if ($l < 0 or $l > 100) {
    @error "Lightness must be an integer within [0, 100]; given #{$l}";
  }
  @return (
    50: hsl($h, $s, minimax($l + 52)),
    100: hsl($h, $s, minimax($l + 37)),
    200: hsl($h, $s, minimax($l + 26)),
    300: hsl($h, $s, minimax($l + 12)),
    400: hsl($h, $s, minimax($l + 6)),
    500: hsl($h, $s, $l),
    600: hsl($h, $s, minimax($l - 6)),
    700: hsl($h, $s, minimax($l - 12)),
    800: hsl($h, $s, minimax($l - 18)),
    900: hsl($h, $s, minimax($l - 24)),
    A100: hsl($h, $s, minimax($l + 24)),
    A200: hsl($h, $s, minimax($l + 16)),
    A400: hsl($h, $s, minimax($l - 1)),
    A700: hsl($h, $s, minimax($l - 12)),
    contrast: (
      50: mat-contrast-generator(hsl($h, $s, minimax($l + 52)), $dark, $light),
      100: mat-contrast-generator(hsl($h, $s, minimax($l + 37)), $dark, $light),
      200: mat-contrast-generator(hsl($h, $s, minimax($l + 26)), $dark, $light),
      300: mat-contrast-generator(hsl($h, $s, minimax($l + 12)), $dark, $light),
      400: mat-contrast-generator(hsl($h, $s, minimax($l + 6)), $dark, $light),
      500: mat-contrast-generator(hsl($h, $s, $l), $dark, $light),
      600: mat-contrast-generator(hsl($h, $s, minimax($l - 6)), $dark, $light),
      700: mat-contrast-generator(hsl($h, $s, minimax($l - 12)), $dark, $light),
      800: mat-contrast-generator(hsl($h, $s, minimax($l - 18)), $dark, $light),
      900: mat-contrast-generator(hsl($h, $s, minimax($l - 24)), $dark, $light),
      A100: mat-contrast-generator(hsl($h, $s, minimax($l + 24)), $dark, $light),
      A200: mat-contrast-generator(hsl($h, $s, minimax($l + 16)), $dark, $light),
      A400: mat-contrast-generator(hsl($h, $s, minimax($l - 1)), $dark, $light),
      A700: mat-contrast-generator(hsl($h, $s, minimax($l - 12)), $dark, $light)
    )
  );
}
