@import "theme-variables";

:host {
  .page-layout {
    &.carded {
      &.fullwidth {
        > .center {
          .header {
            height: 62px !important;
            min-height: 62px !important;
            max-height: 62px !important;
          }
        }
      }
    }
  }

  .search-input-wrapper {
    max-width: 480px;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1 1 0;
    border-bottom: 1px solid mat-color($foreground, divider);
  }

  .example-table {
    .mat-header-row {
      .mat-header-cell {
        font-size: 14px;
        font-weight: bolder;
      }
    }

    .mat-row,
    .mat-header-row {
      height: 44px;
      min-height: 44px;
    }

    .mat-row {
      &:nth-child(2n+1) {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .mat-cell,
    .mat-header-cell {
      &[class*="mat-column-"],
      &[class*="cdk-column-"] {
        padding: 0 12px;
      }

      &.mat-column-picture,
      &.cdk-column-picture {
        .initialism {
          display: block;
          background: rgba(0, 0, 0, 0.15);
          width: 36px;
          height: 36px;
          line-height: 36px;
          font-size: 18px;
          font-weight: 700;
          border-radius: 50%;
          text-align: center;
        }
      }
    }
  }
}
