<div class="page-layout carded fullwidth inner-scroll" id="example">
  <div class="top-bg"></div>
  <div class="center p-8">
    <div class="header px-16 mat-white-bg bl-4 accent-border" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center">
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value: '*', params: {delay: '50ms', scale: '0.2'}}">edit</mat-icon>
        <span class="logo-text h2" [@animate]="{value: '*', params: {delay: '100ms', x: '-25px'}}" translate>Example</span>
      </div>

      <div class="action-buttons my-12" fxLayout="row" fxLayoutAlign="start center">
        <button mat-raised-button class="mat-white-bg mat-elevation-z1">
          <span translate>New Example</span>
        </button>
      </div>
    </div>

    <div class="content-card mt-8 mat-white-bg" fxFlex="1 0 auto">
      <div class="mat-grey-300-bg px-16 py-8" fxLayout="column" fxLayout.gt-xs="row"
           fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center">
        <!-- Table caption -->
        <div class="caption" fxLayout="row" fxLayoutAlign="start center">
          <span class="caption-text h3">Example Caption</span>
        </div>

        <!-- Input search -->
        <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
          <label for="search" class="mr-4">
            <mat-icon class="secondary-text s-20">search</mat-icon>
          </label>
          <mat-form-field floatLabel="never" appearance="legacy" fxFlex="1 0 auto">
            <input type="text" id="search" matInput #filter [placeholder]="'Rechercher...' | translate">
            <button mat-button *ngIf="!hideFilterClose" matSuffix mat-icon-button [attr.aria-label]="'Clear'" (click)="resetFilter()">
              <mat-icon class="s-16">close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <!-- Action buttons -->
        <div class="action-buttons" fxLayout="row" fxLayoutAlign="end center">
          <button mat-icon-button class="mat-white-bg mat-elevation-z1 fz-12 fw--700 radius-2 mr-4">XLS</button>
          <button mat-icon-button class="mat-white-bg mat-elevation-z1 fz-12 fw--700 radius-2">PDF</button>
        </div>
      </div>

      <div class="table-container" perfectScrollbar>
        <ng-container *ngIf="isLoading">
          <table-skeleton [displayedColumns]="displayedColumns" [@animateStagger]="{value: '50'}"></table-skeleton>
        </ng-container>

        <ng-container *ngIf="!isLoading && tableDataSource?.filteredData?.length === 0">
          <table-empty [message]="emptyDataMessage"></table-empty>
        </ng-container>

        <table mat-table class="example-table" matSort [dataSource]="tableDataSource"
              [hidden]="isLoading || tableDataSource?.filteredData?.length === 0" [@animateStagger]="{value: '50'}">
          <!-- Code Column -->
          <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef width="50px"></th>
            <td mat-cell *matCellDef="let row">
              <img [src]="row.picture" [alt]="row.social_reason" *ngIf="row.picture">
              <span class="initialism" *ngIf="!row.picture">{{row.social_reason | initialism}}</span>
            </td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef width="150px" mat-sort-header translate>Code Dossier</th>
            <td mat-cell *matCellDef="let row">{{row.folder_id}}</td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="company_name">
            <th mat-header-cell *matHeaderCellDef translate>Raison Sociale</th>
            <td mat-cell *matCellDef="let row">{{row.social_reason}}</td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="rc">
            <th mat-header-cell *matHeaderCellDef translate>Numéro RC</th>
            <td mat-cell *matCellDef="let row">{{row.fiscal_folders[row.fiscal_folders?.length - 1]?.nrc}}</td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="referential">
            <th mat-header-cell *matHeaderCellDef translate>Référenciel Comptable</th>
            <td mat-cell *matCellDef="let row">{{row.social_informations[row.social_informations?.length - 1]?.accountant_referentiel?.label}}</td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef width="50px" translate>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="action">
                <mat-icon class="s-18">more_vert</mat-icon>
              </button>

              <mat-menu #action="matMenu">
                <button mat-menu-item class="lh-36 h-36">
                  <mat-icon>folder_open</mat-icon>
                  <span class="fz-14" translate>Ouvrir Exercices</span>
                </button>
                <button mat-menu-item class="lh-36 h-36">
                  <mat-icon>visibility</mat-icon>
                  <span class="fz-14" translate>Détails Dossier</span>
                </button>
                <button mat-menu-item class="lh-36 h-36">
                  <mat-icon>edit</mat-icon>
                  <span class="fz-14" translate>Éditer Dossier</span>
                </button>
                <button mat-menu-item class="lh-36 h-36">
                  <mat-icon>archive</mat-icon>
                  <span class="fz-14" translate>Archiver Dossier</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator [pageSize]="10"
                     [pageIndex]="0"
                     [pageSizeOptions]="[10, 25, 50, 100]"
                     [length]="tableDataSource.filteredData.length"
                     showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
