<div class="nav" id="main-navigation" [ngClass]="[layout]">
  <!-- Vertical navigation layout -->
  <ng-template [ngIf]="layout === 'vertical'">
    <ng-template ngFor let-item [ngForOf]="navigation">
      <app-nav-vertical-group *ngIf="item.type === 'group'" [item]="item"></app-nav-vertical-group>
      <app-nav-vertical-collapse *ngIf="item.type === 'collapse'" [item]="item"></app-nav-vertical-collapse>
      <app-nav-vertical-item *ngIf="item.type === 'item'" [item]="item"></app-nav-vertical-item>
    </ng-template>
  </ng-template>
  <!-- / Vertical navigation layout -->

  <!-- Horizontal navigation layout -->
  <ng-template [ngIf]="layout === 'horizontal'">
    <ng-template ngFor let-item [ngForOf]="navigation">
      <app-nav-horizontal-collapse *ngIf="item.type === 'group'" [item]="item"></app-nav-horizontal-collapse>
      <app-nav-horizontal-collapse *ngIf="item.type === 'collapse'" [item]="item"></app-nav-horizontal-collapse>
      <app-nav-horizontal-item *ngIf="item.type === 'item'" [item]="item"></app-nav-horizontal-item>
    </ng-template>
  </ng-template>
  <!-- / Horizontal navigation layout -->
</div>
