<div class="search-bar" [class.expanded]="!collapsed" fxFlex="0 1 auto">
  <div class="search-bar-content" [ngClass]="settings.layout.toolbar.background">
    <label for="search-bar-input">
      <button mat-icon-button class="search-bar-expander" [attr.aria-label]="'Expand Search Bar' | translate"
              (click)="expand()" *ngIf="collapsed">
        <mat-icon class="s-24">search</mat-icon>
      </button>
      <span class="search-bar-loader" fxLayout="row" fxLayoutAlign="center center" *ngIf="!collapsed && showLoadingSpinner">
        <mat-progress-spinner mode="indeterminate" color="mat-accent" diameter="40" [strokeWidth]="5"></mat-progress-spinner>
      </span>
    </label>
    <input type="text" id="search-bar-input" class="ml-24" placeholder="Search" (input)="search($event)" fxFlex>
    <button mat-icon-button class="search-bar-collapser" [attr.aria-label]="'Collapse Search Bar' | translate"
            (click)="collapse()">
      <mat-icon class="s-24">close</mat-icon>
    </button>
  </div>
</div>
