@import "theming";

$search-bar-width: 64px;

:host {
  .search-bar {
    display: flex;
    flex: 0 1 auto;
    min-width: $search-bar-width;
    height: $toolbar-height;
    font-size: 13px;

    @include media-breakpoint(lt-md) {
      height: $toolbar-height-sm;
    }

    .search-bar-content {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: flex-start;

      .search-bar-expander,
      .search-bar-collapser {
        cursor: pointer;
        padding: 0 20px;
        margin: 0;
        width: $search-bar-width !important;
        height: $toolbar-height !important;
        line-height: $toolbar-height !important;

        @include media-breakpoint(lt-md) {
          height: $toolbar-height-sm !important;
          line-height: $toolbar-height-sm !important;
        }
      }

      .search-bar-loader {
        width: $search-bar-width !important;
        height: $toolbar-height !important;
        line-height: $toolbar-height !important;

        @include media-breakpoint(lt-md) {
          height: $toolbar-height-sm !important;
          line-height: $toolbar-height-sm !important;
        }
      }

      .search-bar-collapser {
        display: none;
      }

      #search-bar-input {
        display: none;
        flex: 1 0 auto;
        min-height: $toolbar-height;
        background-color: transparent;
        font-size: 16px;
      }
    }

    &.expanded {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;

      .search-bar-content {
        #search-bar-input {
          display: flex;
        }

        .search-bar-collapser {
          display: flex;
        }
      }
    }
  }

  body {
    &.search-bar-expanded {
      #toolbar {
        z-index: 999 !important;
      }
    }
  }
}
