$state-color-success: #00c853;
$state-color-warn: #ff6d00;
$state-color-error: #d50000;

notifications-tab {
  .friends {
    .friend {
      position: relative;

      .status {
        position: absolute;
        top: 8px;
        left: 44px;
        width: 18px;
        height: 18px;
        z-index: 10;
        border-radius: 50%;
        border: 3px solid #fff;

        &.online {
          background-color: $state-color-success;
        }

        &.away {
          background-color: $state-color-warn;
        }

        &.offline {
          background-color: $state-color-error;
        }
      }

      .unread-message-count {
        position: absolute;
        left: 12px;
        bottom: 12px;
        width: 18px;
        height: 18px;
        z-index: 10;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        font-size: 11px;
      }
    }
  }

  .servers {
    .server {
      .status {
        margin: 24px 20px 28px 8px;
        padding: 0;

        &.normal {
          color: $state-color-success;
        }

        &.warn {
          color: $state-color-warn;
        }

        &.error {
          color: $state-color-error;
        }
      }
    }
  }

  .stats {
    .stat {
      .mat-progress-bar {
        &.normal {
          .mat-progress-bar-background {
            fill: mix($state-color-success, white, 30%);
          }

          .mat-progress-bar-buffer {
            background-color: mix($state-color-success, white, 30%);
          }

          .mat-progress-bar-fill {
            &::after {
              background-color: $state-color-success;
            }
          }
        }

        &.warn {
          .mat-progress-bar-background {
            fill: mix($state-color-warn, white, 30%);
          }

          .mat-progress-bar-buffer {
            background-color: mix($state-color-warn, white, 30%);
          }

          .mat-progress-bar-fill {
            &::after {
              background-color: $state-color-warn;
            }
          }
        }

        &.alert {
          .mat-progress-bar-background {
            fill: mix($state-color-error, white, 30%);
          }

          .mat-progress-bar-buffer {
            background-color: mix($state-color-error, white, 30%);
          }

          .mat-progress-bar-fill {
            &::after {
              background-color: $state-color-error;
            }
          }
        }
      }
    }
  }
}
