<mat-list class="friends">
  <h3 matSubheader>
    <span translate>Friends</span>
  </h3>
  <mat-list-item class="friend" *ngFor="let friend of []">
    <img matListAvatar [src]="friend.avatar" [alt]="friend.name">
    <div class="status" [ngClass]="friend.status"></div>
    <div class="mat-accent-bg unread-message-count" *ngIf="friend.unread">{{ friend.unread }}</div>
    <h3 matLine class="message">{{ friend.name }} {{ friend.message }}</h3>
    <p matLine class="secondary-text time">{{ friend.time | amTimeAgo }}</p>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list class="servers">
  <h3 matSubheader>
    <span translate>Application Servers</span>
  </h3>
  <mat-list-item class="server" *ngFor="let server of []">
    <mat-icon matListIcon class="s-16 status" [ngClass]="server.status">lens</mat-icon>
    <h3 matLine>{{ server.location }}</h3>
    <p matLine class="secondary-text">{{ server.detail }}</p>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list class="stats">
  <h3 matSubheader>
    <span translate>User Stats</span>
  </h3>
  <mat-list-item class="stat" *ngFor="let stat of []">
    <span matLine>{{ stat.title }} ({{ stat.percent }})</span>
    <mat-progress-bar matLine [ngClass]="stat.status" mode="determinate" [value]="stat.percent"></mat-progress-bar>
  </mat-list-item>
</mat-list>
