/*
 * Components global variables.
 */

// Toolbar
$toolbar-height: 64px !default;
$toolbar-height-sm: 56px !default;

// Navigation Sidenav
$navigation-width: 240px !default;
$navigation-folded-width: 64px !default;
