/*
 * Theme global variables.
 */
@import "~@angular/material/theming";

$mat-white: (
  500: white,
  contrast: (
    500: $dark-primary-text
  )
);
$mat-black: (
  500: black,
  contrast: (
    500: white
  )
);
$mat-light: (
  50: #fdfdfd,
  100: #fafbfb,
  200: #f6f8f9,
  300: #f2f5f6,
  400: #f0f3f4,
  500: #edf1f2,
  600: #e2e8e9,
  700: #d3dbde,
  800: #c5d0d3,
  900: #acbbbf,
  A100: #a5ebfd,
  A200: #6adefb,
  A400: #06c8f9,
  A700: #05a8d1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
$mat-dark: (
  50: #e7e8ea,
  100: #c4c5cb,
  200: #9d9fa8,
  300: #757985,
  400: #585c6b,
  500: #3a3f51,
  600: #323746,
  700: #292c39,
  800: #1f222c,
  900: #0f1014,
  A100: #839dfc,
  A200: #1f4ff9,
  A400: #063bf9,
  A700: #0532d1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$mat-darker: (
  50: #e4e6e7,
  100: #bbbfc3,
  200: #8e959b,
  300: #606b72,
  400: #3e4b54,
  500: #1c2b36,
  600: #18252f,
  700: #141e26,
  800: #0f171d,
  900: #070b0e,
  A100: #83c9fc,
  A200: #1f9df9,
  A400: #0692f9,
  A700: #057bd1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

// Palettes
$primary: mat-palette($mat-dark);
$accent: mat-palette($mat-light-blue, 600, 400, 700);
$warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

$background: map-get($theme, background);
$foreground: map-get($theme, foreground);


// Material colors map
$mat-colors-map: (
  "primary": $primary,
  "accent": $accent,
  "warn": $warn,
  "red": $mat-red,
  "pink": $mat-pink,
  "purple": $mat-purple,
  "deep-purple": $mat-deep-purple,
  "indigo": $mat-indigo,
  "blue": $mat-blue,
  "light-blue": $mat-light-blue,
  "cyan": $mat-cyan,
  "teal": $mat-teal,
  "green": $mat-green,
  "light-green": $mat-light-green,
  "lime": $mat-lime,
  "yellow": $mat-yellow,
  "amber": $mat-amber,
  "orange": $mat-orange,
  "deep-orange": $mat-deep-orange,
  "brown": $mat-brown,
  "grey": $mat-grey,
  "blue-grey": $mat-blue-grey,
  "white": $mat-white,
  "black": $mat-black,
  "light": $mat-light,
  "dark": $mat-dark,
  "darker": $mat-darker
);
