/*
 * Typography global variables.
 */
// Typography
$font-family-body: "Neuzeit Grotesk", "Roboto", "Helvetica Neue", "Arial", sans-serif !default;
$font-family-code: "Monaco", "Menlo", "Consolas", "Ubuntu Mono", monospace !default;

$font-size-root: 62.5% !default;
$font-size-base: 14px !default;

$h1: 24px !default;
$h2: 20px !default;
$h3: 16px !default;
$h4: 15px !default;
$h5: 13px !default;
$h6: 12px !default;

$typography-config: mat-typography-config(quote($font-family-body)) !default;
