// ---------------------------------------------------------------------------
// Angular material fix
//

// Fix: "Icon button ripple radius is not correct on Edge & Safari"
.mat-icon-button {
  .mat-button-ripple {
    border-radius: 50%;
  }
}

// Reduce form-field height
.mat-form-field {
  margin-bottom: -1.25em !important;
  margin-top: -1.25em !important;
}

// Fix: "Inconsistent font sizes across elements"
.mat-checkbox,
.mat-form-field-wrapper,
.mat-radio-button {
  font-size: 16px;
}

.mat-pseudo-checkbox-checked {
  &::after {
    width: 14px !important;
    height: 7px !important;
  }
}

.mat-form-field-underline {
  background-color: rgba(black, 0.12);
}

.mat-form-field {
  &.mat-form-field-type-mat-select {
    .mat-form-field-infix {
      display: inline-flex;
      width: auto;

      .mat-select-trigger {
        display: inline-flex;
        align-items: center;
        width: 100%;

        .mat-select-value {
          display: flex;
          max-width: none;
          margin-right: 8px;
        }

        .mat-select-arrow-wrapper {
          display: inline-flex;
        }
      }
    }
  }
}

mat-horizontal-stepper,
mat-vertical-stepper {
  mat-step-header {
    mat-icon,
    mat-icon > svg {
      height: 16px !important;
      width: 16px !important;
      min-width: 0 !important;
      min-height: 0 !important;
      color: inherit !important;

      .cls-1 {
        fill: inherit !important;
      }
    }
  }
}

mat-vertical-stepper {
  padding: 16px 0;
}

mat-chip {
  mat-icon,
  mat-icon > svg {
    min-width: 0 !important;
    min-height: 0 !important;
  }
}

mat-card-image {
  max-width: none !important;
}
