// ---------------------------------------------------------------------------
//  card component
//

$app-card-width: 320px;

.app-card {
  max-width: $app-card-width;
  min-width: $app-card-width;
  background: #fff;
  border-radius: 2px;
  @include mat-elevation(2);

  &.variable-width {
    min-width: 0;
  }

  &.auto-width {
    min-width: 0;
    max-width: none;
  }

  .mat-button {
    min-width: 0 !important;
    padding: 0 8px !important;
  }

  .mat-button-toggle-group,
  .mat-button-toggle-standalone {
    box-shadow: none !important;
  }

  .mat-tab-labels {
    justify-content: center;
  }

  .mat-tab-label {
    min-width: 0 !important;
  }

  .card-divider {
    border-top: 1px solid $dark-dividers;
    margin: 16px;

    &.light {
      border-top-color: $light-dividers;
    }

    &.fullwidth {
      margin: 0;
    }
  }

  .card-expand-area {
    overflow: hidden;

    .card-expanded-content {
      padding: 8px 16px 16px;
      line-height: 1.75;
    }
  }
}
