// ---------------------------------------------------------------------------
// Colors
//

// Text
.i,
.icon,
.secondary-text {
  color: mat-color($foreground, secondary-text);

}

.cls-1 {
  fill: mat-color($foreground, secondary-text);
}

.hint-text,
.disabled-text {
  color: mat-color($foreground, disabled-text);
}

.divider {
  color: mat-color($foreground, dividers);
}

// Material color hues list
$mat-color-hues: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;

// Generate color classes...
@each $color-name, $color-map in $mat-colors-map {
  @each $hue in $mat-color-hues {
    $color: map-get($color-map, $hue);
    $contrast-color: map-get(map-get($color-map, contrast), $hue);

    @if ($color != null and $contrast-color != null) {
      @include generate-color-classes($color-name, $color, $contrast-color, "-#{$hue}");

      // Run the generator one more time for default values (500)
      @if ($hue == 500) {
        @include generate-color-classes($color-name, $color, $contrast-color, "");
      }
    }
  }
}
