// ---------------------------------------------------------------------------
// Forms
//

button,
input[type="button"],
input[type="email"],
input[type="image"],
input[type="password"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
textarea {
  appearance: none;
  outline: 0;
}
