// ---------------------------------------------------------------------------
// Global
//

// Cursor
@each $cursor in (pointer, default) {
  .cursor-#{$cursor} {
    cursor: #{$cursor};
  }
}

// Body
body,
html {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ebeff5;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto
}
