// ---------------------------------------------------------------------------
// Helpers
//

// Size Helpers
@each $prop, $abbrev in (height: h, width: w) {
  // Min: 0 - Max: 720, Multiples of 4
  @for $index from 0 through 180 {
    $size: $index * 4;
    $length: if($size == 0, $size, #{$size}px);

    .#{$prop}-#{$size},
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
      min-#{$prop}: $length !important;
      max-#{$prop}: $length !important;
    }
  }

  // Percentage
  // Min: 0 - Max: 100, Multiples of 5
  @for $i from 0 through 20 {
    $i-p: 5 * $i;
    $size-p: 5% * $i;

    .#{$prop}-#{$i-p}-p,
    .#{$abbrev}-#{$i-p}-p {
      #{$prop}: #{$size-p} !important;
    }
  }
}

// Spacing Helpers
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    // @debug $infix;

    //  Position Helpers
    @each $position, $pos in (relative: rel, absolute: abs, static: stc, fixed: fix, sticky: stk) {
      .pos#{$infix}-#{$pos},
      .position#{$infix}-#{$position} {
        position: #{$position};
      }
    }

    // Alignment Helpers
    @each $align in (top right bottom left) {
      .align#{$infix}-#{$align} {
        #{$align}: 0;
      }
    }

    @each $prop, $abbrev in (margin: m, padding: p) {
      @for $index from 0 through 64 {
        $size: $index * 4;
        $length: if($size == 0, $size, #{$size}px);

        .#{$prop}#{$infix}-#{$size},
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }

      @for $index from 0 through 64 {
        $size: $index * 4;
        $length: if($size == 0, $size, #{$size}px);

        .#{$prop}x#{$infix}-#{$size},
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
          #{$prop}-left: $length !important;
        }

        .#{$prop}y#{$infix}-#{$size},
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top: $length !important;
          #{$prop}-bottom: $length !important;
        }
      }

      @for $index from 0 through 64 {
        $size: $index * 4;
        $length: if($size == 0, $size, #{$size}px);

        @each $direction, $dir in (top: t, right: r, bottom: b, left: l) {
          .#{$prop}#{$direction}#{$infix}-#{$size},
          .#{$abbrev}#{$dir}#{$infix}-#{$size} {
            #{$prop}-#{$direction}: $length !important;
          }
        }
      }

      @if ($abbrev == m) {
        @for $index from 0 through 64 {
          .margin#{$infix}-auto,
          .m#{$infix}-auto {
            margin: auto !important;
          }

          @each $direction, $abbr in (top: t, right: r, bottom: b, left: l) {
            .margin#{$direction}#{$infix}-auto,
            .m#{dir}#{$infix}-auto {
              margin-#{$direction}: auto !important;
            }
          }

          .marginx#{$infix}-auto,
          .mx#{$infix}-auto {
            margin-right: auto !important;
            margin-left: auto !important;
          }

          .marginy#{$infix}-auto,
          .my#{$infix}-auto {
            margin-top: auto !important;
            margin-bottom: auto !important;
          }
        }
      }
    }
  }
}

// Border
$border-style: 1px solid mat-color($foreground, dividers);

.b,
.border {
  border: $border-style;
}

@each $direction, $dir in (top: t, right: r, bottom: b, left: l) {
  .b#{dir},
  .border-#{$direction} {
    border-#{$direction}: $border-style;
  }
}

.bx,
.border-horizontal {
  border-left: $border-style;
  border-right: $border-style;
}

.by,
.border-vertical {
  border-top: $border-style;
  border-bottom: $border-style;
}

@for $i from 0 through 10 {
  $size: $i * 2;
  $length: if($size == 0, $size, #{$size}px);
  $border-size-style: $length solid mat-color($foreground, dividers);

  .b-#{$size},
  .border-#{$size} {
    border: $border-size-style;
  }

  @each $direction, $dir in (top: t, right: r, bottom: b, left: l) {
    .b#{$dir}-#{$size},
    .border-#{$direction}-#{$size} {
      border-#{$direction}: $border-size-style;
    }
  }

  .bx-#{$size},
  .border-horizontal-#{$size} {
    border-left: $border-size-style;
    border-right: $border-size-style;
  }

  .by-#{$size},
  .border-vertical-#{$size} {
    border-top: $border-size-style;
    border-bottom: $border-size-style;
  }
}

// Radius Helpers
.radius-100,
.border-radius-100 {
  border-radius: 100% !important;
}

@for $i from 0 through 8 {
  $size: $i * 2;
  $length: if($size == 0, $size, #{$size}px);

  .radius-#{$size},
  .border-radius-#{$size} {
    border-radius: #{$length} !important;
  }

  .radius-top-#{$size},
  .border-radius-top-#{$size} {
    border-top-right-radius: $border-style !important;
    border-top-left-radius: $border-style !important;
  }

  .radius-right-#{$size},
  .border-radius-right-#{$size} {
    border-top-right-radius: $border-style !important;
    border-bottom-right-radius: $border-style !important;
  }

  .radius-bottom-#{$size},
  .border-radius-bottom-#{$size} {
    border-bottom-right-radius: $border-style !important;
    border-bottom-left-radius: $border-style !important;
  }

  .radius-left-#{$size},
  .border-radius-left-#{$size} {
    border-top-left-radius: $border-style !important;
    border-bottom-left-radius: $border-style !important;
  }
}
