// ---------------------------------------------------------------------------
// Helpers
//

i,
mat-icon,
mat-icon > svg,
.mat-icon-button {
  font-size: 24px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}


@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @for $index from 2 through 128 {
      $size: $index * 2;
      $length: #{$size}px;

      i,
      mat-icon,
      .mat-icon-button {
        &.s#{$infix}-#{$size} {
          font-size: $length !important;
          width: $length !important;
          height: $length !important;
          min-width: $length !important;
          min-height: $length !important;
          line-height: $length !important;
        }
      }

      mat-icon {
        &.s#{$infix}-#{$size} {
          > svg {
            font-size: $length !important;
            width: $length !important;
            height: $length !important;
            min-width: $length !important;
            min-height: $length !important;
            line-height: $length !important;
          }
        }
      }
    }
  }
}
