// ---------------------------------------------------------------------------
// Navigation
//

$nav-height: 56px;

.nav {
  .nav-subheader {
    display: flex;
    align-items: center;
    height: 48px;
    font-weight: 500;
    padding-left: 24px;
    margin-top: 8px;
    font-size: 12px;
    white-space: nowrap;
  }

  .nav-group {
    display: block;

    > .group-title {
      position: relative;
      display: flex;
      align-items: center;
      height: 48px;
      font-weight: 500;
      padding-left: 24px;
      margin-top: 8px;
      font-size: 12px;
      white-space: nowrap;
    }
  }

  .nav-item {
    .nav-link {
      text-decoration: none !important;
      display: flex;
      align-items: center;
      height: 48px;
      padding: 0 24px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      user-select: none;
      color: currentColor;

      > .nav-link-title {
        flex: 1 1 auto;
        white-space: nowrap;
      }

      .nav-link-badge {
        display: flex;
        align-items: center;
        min-width: 20px;
        height: 20px;
        padding: 0 7px;
        font-size: 11px;
        font-weight: 500;
        border-radius: 20px;
        transition: opacity 0.2s ease-in-out 0.1s;
        margin-left: 8px;

        + .collapse-arrow {
          margin-left: 8px;
        }
      }

      &:hover,
      .mat-ripple-element {
        background-color: mat-color($background, hover);
      }

      &.active {
        // background-color: mat-color($accent);

        .mat-ripple-element {
          // background-color: mat-color($accent, default-contrast, $mat-ripple-color-opacity);
        }

        &,
        .nav-link-icon {
          opacity: 1;
          // color: mat-color($accent, default-contrast);
        }

        .nav-link-badge {
          background: #fff !important;
          color: mat-color($foreground, text) !important;
        }
      }

      .nav-link-icon {
        margin-right: 16px;
        opacity: 0.7;
      }

      .collapse-arrow,
      .nav-link-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        line-height: 16px;
      }
    }

    &.nav-collapse {
      display: block;

      > .children {
        > .nav-item {
          > .nav-link,
          &.nav-group > .group-title,
          &.nav-group > .group-items > .nav-item > .nav-link {
            padding-left: 56px;
          }

          > .children {
            > .nav-item {
              > .nav-link,
              &.nav-group > .group-title,
              &.nav-group > .group-items > .nav-item > .nav-link {
                padding-left: 72px;
              }
            }
          }
        }
      }
    }
  }

  > .nav-item {
    &.nav-collapse {
      background: 0 0;
      transition: background 0.2s ease-in-out;

      &.open {
        // background: mat-color($background, focused-button);
        background: transparent;
      }
    }
  }

  > .nav-group {
    > .group-items {
      > .nav-collapse {
        background: transparent;
        transition: background 0.2s ease-in-out;

        &.open {
          // background: mat-color($background, focused-button);
          background: transparent;
        }
      }
    }
  }

  &.vertical {
    .nav-group {
      .group-title {
        text-transform: uppercase;
      }
    }
  }

  &.horizontal {
    display: flex;
    flex-direction: row;

    .nav-item {
      &.nav-collapse {
        position: relative;

        .children {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          z-index: 999;
          min-width: 200px;
          @include mat-elevation(8);

          &.open {
            display: block;
          }

          .nav-link {
            padding-left: 24px !important;
          }
        }
      }
    }

    > .nav-item {
      > .nav-link {
        height: $nav-height;
      }

      &.nav-collapse {
        position: relative;

        > .nav-link {
          height: $nav-height;

          .collapse-arrow {
            display: none;
          }
        }

        > .children {
          top: 100%;
          left: 0;
        }
      }
    }
  }
}
