// ---------------------------------------------------------------------------
// Page Layouts
//

// Page Layouts
$carded-header-height: 200px !default;
$carded-header-height-sm: 160px !default;
$carded-toolbar-height: 64px !default;

$header-height: 120px !default;
$header-height-sm: 100px !default;

$carded-border: mat-color($foreground, divider);

// Calculate
$carded-header-height-without-toolbar: $carded-header-height - $carded-toolbar-height;
$carded-header-height-without-toolbar-sm: $carded-header-height-sm - $carded-toolbar-height;

// Top bg image
$top-bg-image: url("/assets/images/backgrounds/header-bg.png");

.page-layout {
  position: relative;
  overflow: hidden;
  // overflow-x: hidden;
  // overflow-y: auto;

  // Carded layout
  &.carded {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    min-width: 100%;

    .top-bg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      height: $carded-header-height;
      // background-image: $top-bg-image;
      // background-size: cover;

      @include media-breakpoint(lt-md) {
        height: $carded-header-height-sm;
      }
    }

    // Fullwidth
    &.fullwidth {
      > .center {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        position: relative;
        z-index: 2;
        padding: 0 32px;
        width: 100%;
        min-width: 0;
        max-width: 100%;
        max-height: 100%;

        .header {
          height: $carded-header-height-without-toolbar !important;
          min-height: $carded-header-height-without-toolbar !important;
          max-height: $carded-header-height-without-toolbar !important;
          box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.05);

          @include media-breakpoint(lt-md) {
            height: $carded-header-height-without-toolbar-sm !important;
            min-height: $carded-header-height-without-toolbar-sm !important;
            max-height: $carded-header-height-without-toolbar-sm !important;
          }
        }

        .content-card {
          display: flex;
          flex-direction: column;
          flex: 1 0 auto;
          overflow: hidden;
          @include mat-elevation(0);
          // box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.05);

          > .toolbar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid $carded-border;
            height: $carded-toolbar-height;
            min-height: $carded-toolbar-height;
            max-height: $carded-toolbar-height;
          }

          > .content {
            // display: flex;
            flex: 1 0 auto;
            // overflow: auto;
          }
        }
      }

      &.tabbed {
        > .center {
          width: 100%;
          min-width: 0;

          > .header {
            flex: 1 1 auto;
          }

          > .content-card {
            > .content {
              display: flex;

              > .mat-tab-group {
                overflow: hidden;

                .mat-tab-header {
                  .mat-tab-label {
                    height: $carded-toolbar-height;
                  }
                }

                .mat-tab-body {
                  &,
                  .mat-tab-body-content {
                    overflow: hidden;

                    .tab-content {
                      position: relative;
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.inner-scroll {
        flex: 1 1 auto;

        > .center {
          flex: 1 1 auto;

          > .content-card {
            flex: 1 1 auto;

            > .content {
              overflow: auto;
              flex: 1 1 auto;
            }
          }
        }

        &.tabbed {
          > .center {
            > .content-card {
              > .content {
                .mat-tab-group {
                  .mat-tab-body {
                    .mat-tab-body-content {
                      .tab-content {
                        overflow: auto;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // Left & right sidebar
    &.left-sidebar,
    &.right-sidebar {
      flex-direction: row;

      // Sidebar
      > .sidebar {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 240px;
        min-width: 240px;
        max-width: 240px;
        height: auto;
        overflow: hidden;
        @include mat-elevation(7);

        &.locked-open {
          background: 0 0;
          box-shadow: none;

          + .center {
            z-index: 1001;
          }

          &.left-positioned {
            + .center {
              margin-left: 0;
            }
          }

          &.right-positioned {
            + .center {
              margin-right: 0;
            }
          }
        }

        .header {
          height: $carded-header-height;
          min-height: $carded-header-height;
          max-height: $carded-header-height;

          @include media-breakpoint(lt-md) {
            height: $carded-header-height-sm;
            min-height: $carded-header-height-sm;
            max-height: $carded-header-height-sm;
          }
        }

        .content {
          background: 0 0;
          flex: 1 1 auto;
        }
      }

      // Center
      > .center {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        position: relative;
        z-index: 3;
        margin-left: 32px;
        margin-right: 32px;
        min-width: 0;

        > .header {
          display: flex;
          height: $carded-header-height-without-toolbar;
          min-height: $carded-header-height-without-toolbar;
          max-height: $carded-header-height-without-toolbar;

          @include media-breakpoint(lt-md) {
            height: $carded-header-height-without-toolbar-sm;
            min-height: $carded-header-height-without-toolbar-sm;
            max-height: $carded-header-height-without-toolbar-sm;
          }
        }

        > .content-card {
          display: flex;
          flex-direction: column;
          flex: 1 1 auto;
          overflow: hidden;
          @include mat-elevation(0);

          > .toolbar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1 1 auto;
            border-bottom: 1px solid $carded-border;
            height: $carded-toolbar-height;
            min-height: $carded-toolbar-height;
            max-height: $carded-toolbar-height;

            .sidebar-toggle {
              margin: 0 8px 0 0 !important;
              padding: 0 !important;
              border-radius: 0;
            }
          }

          > .content {
            flex: 1 1 auto;
          }
        }
      }

      // Tabbed
      &.tabbed {
        > .center {
          width: calc(100% - 32px);
          min-width: 0;

          @include media-breakpoint(lt-lg) {
            width: calc(100% - 64px);
          }

          > .header {
            flex: 1 1 auto;
          }

          > .content-card {
            > .content {
              display: flex;

              > .mat-tab-group {
                overflow: hidden;

                .mat-tab-header {
                  .mat-tab-label {
                    height: $carded-toolbar-height;
                  }
                }

                .mat-tab-body {
                  &,
                  .mat-tab-body-content {
                    overflow: hidden;

                    .tab-content {
                      position: relative;
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      // Inner scroll
      &.inner-scroll {
        flex: 1 1 auto;

        > .sidebar {
          .content {
            overflow: auto;
          }
        }

        > .center {
          flex: 1 1 auto;

          > .content-card {
            flex: 1 1 auto;

            > .content {
              flex: 1 1 auto;
              overflow: auto;
            }
          }
        }

        &.tabbed {
          > .center {
            > .content-card {
              > .content {
                .mat-tab-group {
                  .mat-tab-body {
                    .mat-tab-body-content {
                      .tab-content {
                        overflow: auto;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      // Sidenav old
      > mat-sidenav-container {
        display: flex;
        flex: 1;
        background: 0 0;
        z-index: 2;
        width: 100%;

        .sidenav {
          display: flex;
          flex-direction: column;
          flex: 1 1 auto;
          width: 240px;
          min-width: 240px;
          max-width: 240px;
          height: auto;
          // z-index: 4;
          overflow: hidden;
          // overflow-y: hidden;
          @include mat-elevation(7);

          &.mat-is-locked-open {
            background: 0 0;
            box-shadow: none;
          }

          .header {
            height: $carded-header-height;
            min-height: $carded-header-height;
            max-height: $carded-header-height;

            @include media-breakpoint(lt-md) {
              height: $carded-header-height-sm;
              min-height: $carded-header-height-sm;
              max-height: $carded-header-height-sm;
            }
          }

          .content {
            background: 0 0;
            overflow: auto;
          }
        }

        > .mat-drawer-content,
        > .mat-sidenav-content {
          display: flex;
          flex: 1;
          height: auto;
          overflow: visible;

          .center {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            position: relative;
            z-index: 3;
            margin-left: 32px;
            margin-right: 32px;

            .header {
              display: flex;
              height: $carded-header-height-without-toolbar;
              min-height: $carded-header-height-without-toolbar;
              max-height: $carded-header-height-without-toolbar;

              @include media-breakpoint(lt-md) {
                height: $carded-header-height-without-toolbar-sm;
                min-height: $carded-header-height-without-toolbar-sm;
                max-height: $carded-header-height-without-toolbar-sm;
              }
            }

            .content-card {
              display: flex;
              flex-direction: column;
              flex: 1 1 auto;
              overflow: hidden;
              @include mat-elevation(0);

              .toolbar {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex: 1;
                border-bottom: 1px solid $carded-border;
                height: $carded-toolbar-height;
                min-height: $carded-toolbar-height;
                max-height: $carded-toolbar-height;

                .sidenav-toggle {
                  margin: 0 8px 0 0 !important;
                  padding: 0 !important;
                  border-radius: 0;
                }
              }

              .content {
                display: flex;
                flex: 1;
                overflow: auto;
              }
            }
          }
        }
      }

      // Tabbed old
      &.tabbed {
        > mat-sidenav-container {
          > .mat-drawer-content,
          > .mat-sidenav-content {
            width: calc(100% - 240px);
            min-width: 0;

            .center {
              width: calc(100% - 32px);
              min-width: 0;

              @include media-breakpoint(lt-lg) {
                width: calc(100% - 64px);
              }

              .header {
                flex: 1;
              }

              .content-card {
                .content {
                  .mat-tab-group {
                    overflow: hidden;

                    .mat-tab-header {
                      .mat-tab-label {
                        height: $carded-toolbar-height;
                      }
                    }

                    .mat-tab-body {
                      overflow: hidden;

                      .mat-tab-body-content {
                        overflow: hidden;

                        .tab-content {
                          position: relative;
                          width: 100%;
                          height: 100%;
                          overflow: auto;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.right-sidebar {
      > .sidebar {
        order: 2;
      }

      > .center {
        order: 1;
      }
    }

    // old
    &.left-sidenav {
      > mat-sidenav-container {
        .sidenav {
          &.mat-is-locked-open {
            ~ .mat-drawer-content,
            ~ .mat-sidenav-content {
              .center {
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    &.right-sidenav {
      > mat-sidenav-container {
        .sidenav {
          -webkit-box-ordinal-group: 1000;
          -moz-box-ordinal-group: 1000;
          order: 999;

          &.mat-is-locked-open {
            ~ .mat-drawer-content,
            ~ .mat-sidenav-content {
              .center {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  // Simple layout
  &.simple {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    min-width: 100%;

    // Fullwidth
    &.fullwidth {
      // overflow: auto;
      > .content {
        flex: 1 1 auto;
        min-width: 0;
      }
    }

    &.fullwidth,
    &.inner-sidebar {
      min-height: 100%;

      > .header {
        height: $header-height;
        min-height: $header-height;
        max-height: $header-height;
      }
    }

    // Left & right sidebar
    &.left-sidebar,
    &.right-sidebar {
      flex-direction: row;

      // Sidebar
      > .sidebar {
        width: 240px;
        min-width: 240px;
        max-width: 240px;
        overflow: hidden;
        @include mat-elevation(7);

        &.locked-open {
          background: 0 0;
          box-shadow: none;

          + .center {
            z-index: 1001;
          }

          &.left-positioned {
            + .center {
              margin-left: 0;
            }
          }

          &.right-positioned {
            + .center {
              margin-right: 0;
            }
          }
        }

        .content {
          background: 0 0;
          flex: 1 1 auto;
        }
      }

      // Center
      > .center {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        z-index: 3;
        min-width: 0;
        @include mat-elevation(7);

        > .header {
          display: flex;
          height: $header-height;
          min-height: $header-height;
          max-height: $header-height;
        }

        > .content {
          flex: 1 1 auto;
        }
      }

      // Inner scroll
      &.inner-scroll {
        flex: 1 1 auto;

        > .sidebar {
          .content {
            overflow: auto;
          }
        }

        > .center {
          flex: 1 1 auto;
          overflow: auto;
        }
      }

      &.inner-sidebar {
        flex-direction: column;
        overflow: hidden;
        height: 100%;

        > .content {
          display: flex;
          min-height: 0;

          > .sidebar {
            &.locked-open {
              background: 0 0;
              box-shadow: none;
            }

            .content {
              overflow: auto;
            }
          }

          > .center {
            flex: 1 1 auto;
            overflow: auto;
          }
        }
      }
    }

    &.right-sidebar {
      > .sidebar {
        order: 2;
      }

      > .center {
        order: 1;
      }

      &.inner-sidebar {
        > .content {
          > .sidebar {
            order: 2;
          }

          > .center {
            order: 1;
          }
        }
      }
    }

    // Left & right sidenav old
    &.left-sidenav,
    &.right-sidenav {
      // Single scroll
      &.single-scroll {
        > mat-sidenav-container {
          flex: 1 0 auto;

          > .mat-drawer-content,
          > .mat-sidenav-content {
            flex: 1 0 auto;
            max-height: none;
          }
        }
      }

      // Inner Left Sidenav
      &.inner-sidenav {
        > mat-sidenav-container {
          flex: 1;

          .sidenav {
            .sidenav-content {
              height: 100%;
            }
          }

          > .mat-drawer-content,
          > .mat-sidenav-content {
            display: flex;
            height: auto;

            .center {
              flex: 1;
              min-height: 100%;
              @include mat-elevation(0);

              .content {
                display: flex;
                flex: 1 0 auto;
              }
            }
          }
        }
      }

      > mat-sidenav-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: 0 0;
        z-index: 2;
        width: 100%;

        .sidenav {
          width: 240px;
          min-width: 240px;
          max-width: 240px;
          z-index: 51;
          @include mat-elevation(7);

          &.mat-is-locked-open {
            width: 220px;
            min-width: 220px;
            max-width: 220px;
            box-shadow: none;
            background: 0 0;
          }

          .sidenav-content {
            height: 100%;
          }
        }

        > .mat-drawer-content,
        > .mat-sidenav-content {
          display: flex;
          flex: 1;
          height: auto;
          overflow: visible;
          max-height: 100%;

          .header {
            height: $header-height;
            min-height: $header-height;
            max-height: $header-height;
            background-image: $top-bg-image;
          }

          .center {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: auto;
            min-height: 100%;
            @include mat-elevation(7);

            .content { }
          }
        }
      }
    }

    // Tabbed
    &.tabbed {
      min-height: 100%;

      > .header {
        height: $header-height;
        min-height: $header-height;
        max-height: $header-height;
      }

      > .content {
        .mat-tab-group {
          .mat-tab-labels {
            padding: 0 24px;
          }
        }
      }
    }
  }

  // Blank
  &.blank {
    width: 100%;
    min-height: 100%;
  }

  @include media-breakpoint(lt-sm) {
    // Activate single-scroll
    &.carded {
      &.fullwidth {
        > .center {
          padding: 0 16px;
          // flex: 1 0 auto;
          // max-height: none;
        }
      }

      &.left-sidebar,
      &.right-sidebar {
        > .center {
          padding: 0 16px;
          // flex: 1 0 auto;
        }
      }
    }

    // &.simple {
    //   &.fullwidth {
    //     > .content {
    //       flex: 1 0 auto;
    //     }
    //   }

    //   &.left-sidenav,
    //   &.right-sidebar {
    //     > mat-sidenav-container {
    //       flex: 1 0 auto !important;

    //       > .mat-drawer-content,
    //       > .mat-sidenav-content {
    //         flex: 1 0 auto;
    //       }
    //     }
    //   }
    // }
    // End activate single-scroll

    // Smaller margin
    // &.carded {
    //   &.fullwidth {
    //     > .center {
    //       padding: 0 16px;
    //     }
    //   }

    //   &.left-sidenav,
    //   &.right-sidebar {
    //     > mat-sidenav-container {
    //       > .mat-drawer-content,
    //       > .mat-sidenav-content {
    //         .center {
    //           margin: 0 16px;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}
