// ---------------------------------------------------------------------------
// Print
//

@media all {
  /* Never show page breaks in normal view */
  .page-break-after,
  .page-break-before {
    display: none;
  }
}

@media print {
  /* html and body tweaks */
  html,
  body {
    height: auto !important;
    overflow: initial !important;
  }

  /* Page breaks */
  .page-break-after {
    display: block;
    page-break-after: always;
    position: relative;
  }

  .page-break-before {
    display: block;
    page-break-before: always;
    position: relative;
  }

  app-root {
    .ps {
      overflow: visible !important;

      > .ps__rail-x,
      > .ps__rail-y {
        display: none !important;
      }
    }

    navbar,
    toolbar,
    footer,
    quick-panel,
    theme-options {
      display: none !important;
    }

    .mat-drawer-container,
    .mat-sidenav-container {
      background-color: #fff !important;

      .mat-drawer-content,
      .mat-sidenav-content {
        overflow: initial !important;
        height: auto !important;
      }
    }
  }
}
