// ---------------------------------------------------------------------------
// Reset
//

* {
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

// html,
// body {
//   margin: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   -webkit-font-smoothing: auto;
//   -moz-osx-font-smoothing: auto;
// }

:not(mat-form-field) {
  > input {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  > button,
  > input[type="button"],
  > input[type="email"],
  > input[type="image"],
  > input[type="password"],
  > input[type="search"],
  > input[type="submit"],
  > input[type="tel"],
  > input[type="text"],
  > textarea {
    appearance: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  > button,
  > input[type="button"],
  > input[type="submit"] {
    background: 0 0;
  }
}

button {
  border-radius: 0;
  padding: 0;
  appearance: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}
