// ---------------------------------------------------------------------------
// Scrollbars
//

body:not(.is-mobile) {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;

    &:hover {
      background-color: rgba(black, 0.12);
    }
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    box-shadow: inset 0 0 0 24px rgba(black, 0.37);
    border-radius: 24px;

    &:active {
      box-shadow: inset 0 0 0 24px rgba(black, 0.54);
      border-radius: 24px;
    }
  }
}
