// ---------------------------------------------------------------------------
// Toolbar
//

.toolbar {
  .toolbar-separator {
    height: 48px;
    width: 1px;
    border-right: 1px solid mat-color($foreground, divider);
    margin: 0 12px;
  }
}
