@import "theme-variables";

:host {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.05);

  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    background: inherit;
    color: inherit;
    position: relative;

    .loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-icon {
      width: 34px;
      height: 34px;
    }

    .logo-text {
      padding-top: 6px;
    }
  }

  .user-button,
  .apps-button,
  .config-button,
  .logout-button,
  .tickets-button,
  .notifications-button {
    min-width: 40px;
    height: $toolbar-height;
    border-radius: 0;
    padding: 0 8px;

    @include media-breakpoint(xs) {
      height: $toolbar-height-sm;
    }
  }

  .navbar-toggle-button {
    min-width: $toolbar-height-sm;
    height: $toolbar-height-sm;
  }

  .toolbar-separator {
    height: $toolbar-height;
    width: 1px;
    background: mat-color($foreground, divider);

    @include media-breakpoint(xs) {
      height: $toolbar-height-sm;
    }
  }
}
