<mat-toolbar class="p-0" [ngClass]="toolbarElevation" fxLayout="row">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>

  <div fxFill fxFlex fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- logo -->
      <div fxLayout="row" fxLayoutAlign="start center" fxHide.gt-md>
        <div class="logo mx-16">
          <img [src]="app?.logo" [alt]="app?.name" class="logo-icon">
          <span class="logo-text ml-8">{{app?.name}}</span>
        </div>
      </div>
      <!-- / logo -->

      <!-- Toggle sidebar -->
      <button mat-icon-button class="navbar-toggle-button" fxHide.gt-md
              (click)="toggleSidebarOpen('navbar')" *ngIf="!hiddenNavbar && !rightNavbar">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <div class="toolbar-separator" fxHide.gt-md *ngIf="!hiddenNavbar && !rightNavbar"></div> -->
      <!-- / Toggle sidebar -->

      <!-- logo -->
      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
        <div class="logo ml-16">
          <img [src]="app?.logo" [alt]="app?.name" class="logo-icon">
        </div>
      </div>
      <!-- / logo -->

      <!-- Loading spinner -->
      <ng-template [ngIf]="showLoadingBar">
        <mat-progress-spinner mode="indeterminate" color="primary" diameter="40" [strokeWidth]="5"></mat-progress-spinner>
      </ng-template>
      <!-- / Loading spinner -->

      <!-- shortcuts -->
      <div class="px-8 px-mat-16">
        <!-- <app-shortcuts></app-shortcuts> -->
      </div>
      <!-- / shortcuts -->
    </div>

    <div class="pr-16" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- user menu -->
      <button mat-button class="user-button">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="avatar-wrapper">
            <img [src]="user?.avatar_url" [alt]="user?.username" class="avatar" *ngIf="user?.avatar_url">
            <img src="assets/images/avatars/profile.jpg" [alt]="user?.username" class="avatar" *ngIf="!user?.avatar_url">
            <!-- <mat-icon class="status s-16 online"></mat-icon> -->
          </div>
          <div class="user-infos mr-12 ml-8" fxHide fxShow.gt-xs fxLayout="column" fxLayoutAlign="center start">
            <span class="username lh-22">{{ user?.civility }} {{ user?.first_name }} {{ user?.last_name }}</span>
            <div class="cabinet lh-14 fz-12 fw--600">
              <span *ngIf="cabinet?.physical_person">{{ cabinet?.first_name }} {{ cabinet?.last_name }}</span>
              <span *ngIf="!cabinet?.physical_person">{{ cabinet?.social_reason }}</span>
            </div>
          </div>
        </div>
      </button>
      <!-- / user menu -->

      <!-- Applications menu -->
      <button mat-icon-button class="apps-button" [matMenuTriggerFor]="appsMenu" matTooltip="Applications">
        <mat-icon class="s-20" color="primary">apps</mat-icon>
      </button>

      <mat-menu #appsMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item *ngFor="let app of apps" (click)="switchTo(app)">
          <div fxLayout="row" fxLayoutAlign="start center">
            <img class="app-logo h-20 mr-8" [src]="app.logo" [alt]="app.wording">
            <span class="app-name">{{ app.wording }}</span>
          </div>
        </button>
      </mat-menu>
      <!-- / Applications menu -->

      <!-- Notifications -->
      <button mat-icon-button class="notifications-button" matTooltip="Notifications" [disableRipple]="true">
        <mat-icon class="s-20" color="primary" *ngIf="(notifications).length === 0">notifications</mat-icon>
        <mat-icon class="s-20" color="primary" *ngIf="(notifications).length > 0" >notifications_active</mat-icon>
      </button>
      <!-- / Notifications -->

      <!-- Tickets -->
      <button mat-icon-button class="tickets-button" matTooltip="Tickets" [disableRipple]="true">
        <!-- <mat-icon class="s-20" color="primary">question_answer</mat-icon> -->
        <mat-icon class="s-18 primary-fg" svgIcon="tickets"></mat-icon>
      </button>
      <!-- / Tickets -->

      <!-- Configurations -->
      <button mat-icon-button class="config-button" matTooltip="Configurations" [disableRipple]="true">
        <!-- <mat-icon class="s-20" color="primary">settings</mat-icon> -->
        <mat-icon class="s-18 primary-fg" svgIcon="config"></mat-icon>
      </button>
      <!-- / Configurations -->

      <!-- Logout -->
      <button mat-icon-button class="logout-button" matTooltip="Déconnexion" (click)="logout()" [disableRipple]="true">
        <mat-icon class="s-20" color="primary">power_settings_new</mat-icon>
      </button>
      <!-- / Logout -->

      <!-- Toggle sidebar right -->
      <!-- <div class="toolbar-separator" fxHide.gt-md *ngIf="!hiddenNavbar && rightNavbar"></div> -->
      <button mat-button class="toggle-button-navbar mat-icon-button" fxHide.gt-md
              (click)="toggleSidebarOpen('navbar')" *ngIf="!hiddenNavbar && rightNavbar">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- / Toggle sidebar right -->
    </div>
  </div>
</mat-toolbar>
