// Akilcab Theme color
$theme-akilcab: (
  50: #e5ebf2,
  100: #bfcee0,
  200: #95adcb,
  300: #6a8cb6,
  400: #4a73a6,
  500: #2a5a96,
  600: #255089,
  700: #1d4278,
  800: #173568,
  900: #0b1e4c,
  A100: #83b9fc,
  A200: #1f80f9,
  A400: #0672f9,
  A700: #0560d1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$theme-akilcab2: (
  50: #e3f4f4,
  100: #b9e3e3,
  200: #8ad1d0,
  300: #5bbfbd,
  400: #38b1af,
  500: #15a3a1,
  600: #129694,
  700: #0f8684,
  800: #0b7674,
  900: #055a58,
  A100: #83fcfa,
  A200: #1ff9f6,
  A400: #06f9f5,
  A700: #05d1ce,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);

// Declarons theme color
$theme-declarons: (
  50: #e0f3fc,
  100: #b3e2f6,
  200: #80cff1,
  300: #4dbbeb,
  400: #26ade6,
  500: #009ee2,
  600: #0091dc,
  700: #0081d3,
  800: #0071cb,
  900: #0055bd,
  A100: #80d9ff,
  A200: #1abaff,
  A400: #00b2ff,
  A700: #0096d6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
);
$theme-declarons-light: (
  50: #e8f6fc,
  100: #c5e9f9,
  200: #9fdbf5,
  300: #78cdf0,
  400: #5bc2ed,
  500: #3eb7ea,
  600: #36abe5,
  700: #2c9cdf,
  800: #238ed9,
  900: #1274ce,
  A100: #83d8fc,
  A200: #2ebdfa,
  A400: #06a3e5,
  A700: #0595d1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
);

// MaComptaOhada theme color
$theme-macomptaohada: (
  50: #f9e2ea,
  100: #f0b7ca,
  200: #e687a7,
  300: #db5784,
  400: #d43369,
  500: #cc0f4f,
  600: #bf0d45,
  700: #ae0b38,
  800: #9e082c,
  900: #810415,
  A100: #fc83ac,
  A200: #f91f69,
  A400: #f90658,
  A700: #d1054a,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$theme-macomptaohada-light: (
  50: #fce6ee,
  100: #f6c1d6,
  200: #f197ba,
  300: #eb6d9e,
  400: #e64e8a,
  500: #e22f75,
  600: #d72966,
  700: #c82153,
  800: #ba1941,
  900: #a00c21,
  A100: #fc83b2,
  A200: #f91f74,
  A400: #f90665,
  A700: #d10555,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

// DigitExpert theme color
$theme-digitexpert: (
  50: #fdeee4,
  100: #fad4bd,
  200: #f6b891,
  300: #f29c64,
  400: #f08643,
  500: #ed7122,
  600: #e5631e,
  700: #da5018,
  800: #d03e12,
  900: #bf1f09,
  A100: #fcb283,
  A200: #f9741f,
  A400: #f96506,
  A700: #d15505,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$theme-digitexpert-light: (
  50: #fdf1eb,
  100: #fbdccc,
  200: #f8c4aa,
  300: #f5ac88,
  400: #f29b6f,
  500: #f08955,
  600: #eb7a4a,
  700: #e3663c,
  800: #dd532f,
  900: #d13118,
  A100: #fcae86,
  A200: #fa864b,
  A400: #f95d0f,
  A700: #d14a05,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

// MonRhExpert theme color
$theme-monrhexpert: (
  50: #e6f5ea,
  100: #c2e5ca,
  200: #99d4a6,
  300: #70c382,
  400: #51b668,
  500: #32a94d,
  600: #2c9d44,
  700: #238d38,
  800: #1b7d2c,
  900: #0d6218,
  A100: #83fc9e,
  A200: #1ff951,
  A400: #06f93d,
  A700: #05d134,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
$theme-monrhexpert-light: (
  50: #ebf6ec,
  100: #cde8cf,
  200: #abd9af,
  300: #89c98f,
  400: #70be77,
  500: #57b25f,
  600: #4da654,
  700: #409646,
  800: #338839,
  900: #1d6d22,
  A100: #83fc8d,
  A200: #1ff932,
  A400: #06f91c,
  A700: #05d117,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);

// PMEGestionFacile theme color
$theme-pmegestionfacile: (
  50: #ececf4,
  100: #d0cfe5,
  200: #b1b0d3,
  300: #9290c1,
  400: #7a78b4,
  500: #6360a7,
  600: #5b589f,
  700: #514e96,
  800: #47448c,
  900: #35337c,
  A100: #8883fc,
  A200: #281ff9,
  A400: #1106f9,
  A700: #0e05d1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$theme-pmegestionfacile-light: (
  50: #eeeef6,
  100: #d5d5e9,
  200: #babada,
  300: #9e9ecb,
  400: #8989bf,
  500: #7474b4,
  600: #6c6cad,
  700: #6161a4,
  800: #57579c,
  900: #44448c,
  A100: #8383fc,
  A200: #2e2efa,
  A400: #0606e5,
  A700: #0505d1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);


// MaNotation theme color
$theme-manotation: (
  50: #fef6e4,
  100: #fde9bc,
  200: #fcdb8f,
  300: #facc62,
  400: #f9c141,
  500: #f8b61f,
  600: #f5a71b,
  700: #f29316,
  800: #ee8011,
  900: #e85e08,
  A100: #fcd783,
  A200: #f9b71f,
  A400: #f9af06,
  A700: #d19305,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
$theme-manotation-light: (
  50: #fef8ec,
  100: #fcedd0,
  200: #fae1b0,
  300: #f7d590,
  400: #f6cc79,
  500: #f4c361,
  600: #f0b555,
  700: #eaa245,
  800: #e59136,
  900: #dc711b,
  A100: #fcda96,
  A200: #fbc55a,
  A400: #f9b01f,
  A700: #d18d05,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
