/*
 * Application global variables.
 */

@import "@theme/styles/theming";
@import "theme-colors";

// Palettes
$primary: mat-palette($theme-akilcab);
$accent: mat-palette($theme-akilcab2, 600, 400, 700);
$warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Map colors
$mat-colors-map: map-merge($mat-colors-map, (
  "primary": $primary,
  "accent": $accent,
  "warn": $warn,
  "theme-akilcab": $theme-akilcab,
  "theme-akilcab2": $theme-akilcab2,
  "theme-declarons": $theme-declarons,
  "theme-declarons-light": $theme-declarons-light,
  "theme-macomptaohada": $theme-macomptaohada,
  "theme-macomptaohada-light": $theme-macomptaohada-light,
  "theme-digitexpert": $theme-digitexpert,
  "theme-digitexpert-light": $theme-digitexpert-light,
  "theme-monrhexpert": $theme-monrhexpert,
  "theme-monrhexpert-light": $theme-monrhexpert-light,
  "theme-pmegestionfacile": $theme-pmegestionfacile,
  "theme-pmegestionfacile-light": $theme-pmegestionfacile-light,
  "theme-manotation": $theme-manotation,
  "theme-manotation-light": $theme-manotation-light
));

// Toolbar
$toolbar-height: 64px;
$toolbar-height-sm: 56px;

// Navigation Sidenav
$navigation-width: 250px;
$navigation-folded-width: 64px;
