<table mat-table class="table-placeholder" [dataSource]="dataSource">
  <!-- Column -->
  <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef>
      <span></span>
    </th>
    <td mat-cell *matCellDef="let row">
      <span></span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
