@keyframes moving-gradient {
  0% { background-position: -250px 0; }
  100% { background-position: 250px 0; }
}

:host {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;

  .table-placeholder {
    .mat-row,
    .mat-header-row {
      height: 44px;
      min-height: 44px;
    }

    .mat-cell,
    .mat-header-cell {
      > span {
        display: block;
        background: linear-gradient(to right, #eee 20%, #ddd 40%, #eee 80%);
        background-size: 500px 100px;
        animation-name: moving-gradient;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }

      &[class*="mat-column-"],
      &[class*="cdk-column-"] {
        padding: 0 12px;

        > span {
          height: 12px;
          border-radius: 2px;
        }
      }
    }

    .mat-header-cell {
      &.mat-column-picture,
      &.cdk-column-picture {
        > span {
          display: none;
        }
      }
    }

    .mat-cell {
      &.mat-column-picture,
      &.cdk-column-picture {
        width: 50px;

        > span {
          background: rgba(0, 0, 0, 0.15);
          height: 36px;
          width: 36px;
          border-radius: 50%;
        }
      }
    }
  }
}
