
// Text color levels generator mixin
@mixin generate-text-color-levels($base-color-text) {
  $is-dark-text: rgba(black, 1) == rgba($base-color-text, 1);
  // if the base text color is black use light theme foreground
  // if the base text color is white use dark theme foreground
  $foreground: if($is-dark-text, $mat-light-theme-foreground, $mat-dark-theme-foreground);
  $foreground-base: mat-color($foreground, base);

  .i,
  .icon {
    color: mat-color($foreground, icon);
  }

  .cls-1 {
    fill: mat-color($foreground, icon);
  }

  .secondary-text,
  &.secondary-text {
    color: mat-color($foreground, secondary-text) !important;
  }

  .hint-text,
  .disabled-text,
  &.hint-text,
  &.disabled-text {
    color: mat-color($foreground, disabled-text) !important;
  }

  .divider,
  &.divider {
    color: mat-color($foreground, dividers) !important;
  }

  .mat-ripple-element {
    background-color: rgba($foreground-base, $mat-ripple-color-opacity);
  }
}

// Material element color generator mixin
@mixin generate-material-element-colors($contrast-color) {
  $is-dark-text: rgba(black, 1) == rgba($contrast-color, 1);
  // if the base text color is black use light theme foreground
  // if the base text color is white use dark theme foreground
  $foreground: if($is-dark-text, $mat-light-theme-foreground, $mat-dark-theme-foreground);
  $foreground-base: mat-color($foreground, base);

  // Native input
  input[type="text"] {
    color: mat-color($foreground, base);
  }

  // Input
  .mat-form-field-label {
    color: mat-color($foreground, hint-text);
  }

  .mat-form-field-underline {
    background-color: mat-color($foreground, divider);
  }

  .mat-form-field-ripple {
    background-color: mat-color($foreground, divider);
  }

  .mat-form-field {
    &.mat-focused {
      .mat-form-field-label {
        color: $contrast-color;
      }

      .mat-form-field-ripple {
        background-color: $contrast-color;
      }
    }
  }

  // Select
  .mat-select-underline {
    background-color: mat-color($foreground, dividers);
  }

  .mat-select-arrow,
  .mat-select-disabled .mat-select-value,
  .mat-select-trigger {
    color: mat-color($foreground, hint-text);
  }

  .mat-select-content,
  .mat-select-panel-done-animating {
    background: mat-color($background, card);
  }

  .mat-select-value {
    color: mat-color($foreground, text);
  }
}

// Color classes generator mixin
@mixin generate-color-classes($color-name, $color, $contrast-color, $hue) {
  // Background
  .#{$color-name}#{$hue}-bg {
    background-color: $color !important;
  }

  .mat-#{$color-name}#{$hue}-bg {
    background-color: $color !important;
    color: $contrast-color !important;

    // Generate text color levels
    // Based on current contrast color
    @include generate-text-color-levels($contrast-color);

    // Generate material element colors
    // Based on current contrast color
    @include generate-material-element-colors($contrast-color);

    &[disabled] {
      background-color: mat-color($background, disabled-button) !important;
      color: mat-color($foreground, disabled-button) !important;
    }
  }

  // foreground
  .#{$color-name}#{$hue}-fg {
    color: $color !important;

    .cls-1 {
      fill: $color !important;
    }

    // Generate text color levels
    // Based on current contrast color
    @include generate-text-color-levels($color);

    // Generate material element colors
    // Based on current contrast color
    @include generate-material-element-colors($color);
  }

  // border
  .#{$color-name}#{$hue}-border {
    border-color: $color !important;
  }

  @each $direction in (top, right, bottom, left) {
    .#{$color-name}#{$hue}-border-#{$direction} {
      border-#{$direction}-color: $color !important;
    }
  }
}
