@import "theme-variables";

$quick-panel-width: 280px;

quick-panel {
  display: flex;
  width: $quick-panel-width;
  min-width: $quick-panel-width;
  max-width: $quick-panel-width;
  z-index: 99;
  flex-direction: column;

  > .mat-tab-group {
    > .mat-tab-header {
      .mat-tab-labels {
        > .mat-tab-label {
          height: $toolbar-height;
          min-width: 0;
        }
      }
    }
  }

  .mat-slide-toggle-content {
    flex: 1;
  }
}
