<mat-tab-group mat-stretch-tabs color="primary">
  <mat-tab [label]="'Overview' | translate">
    <ng-template matTabLabel>
      <h3 translate>Overview</h3>
    </ng-template>

    <overview-tab perfectScrollbar [perfectScrollbarOptions]="{suppressScrollX: true}"></overview-tab>
  </mat-tab>

  <mat-tab [label]="'Notifications' | translate">
    <ng-template matTabLabel>
      <h3 translate>Notifications</h3>
    </ng-template>

    <notifications-tab perfectScrollbar [perfectScrollbarOptions]="{suppressScrollX: true}"></notifications-tab>
  </mat-tab>
</mat-tab-group>
