<ng-template [ngIf]="item.url && !item.externalUrl && !item.function">
  <a class="nav-link" matRipple [target]="item.openInNewTab ? '_blank' : '_self'" [routerLink]="item.url"
    [routerLinkActive]="['active', 'accent-border-left', 'bl-4', 'pl-20']" [routerLinkActiveOptions]="{exact: item.exactMatch || false}">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
  </a>
</ng-template>

<ng-template [ngIf]="item.url && item.externalUrl && !item.function">
  <a class="nav-link" matRipple [href]="item.url" [target]="item.openInNewTab ? '_blank' : '_self'">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
  </a>
</ng-template>

<ng-template [ngIf]="!item.url && item.function">
  <span class="nav-link" matRipple (click)="item.function()">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
  </span>
</ng-template>

<ng-template [ngIf]="item.url && !item.externalUrl && item.function">
  <a class="nav-link" matRipple (click)="item.function()" [target]="item.openInNewTab ? '_blank' : '_self'" [routerLink]="item.url"
    [routerLinkActive]="['active', 'accent-border-left', 'bl-4', 'pl-20']" [routerLinkActiveOptions]="{exact: item.exactMatch || false}">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
  </a>
</ng-template>

<ng-template [ngIf]="item.url && item.externalUrl && item.function">
  <a class="nav-link" matRipple (click)="item.function()" [href]="item.url" [target]="item.openInNewTab ? '_blank' : '_self'">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
  </a>
</ng-template>
