@import "theming";

:host {
  .folded:not(.unfolded) & {
    .nav-link {
      > .nav-link-title,
      > .nav-link-badge {
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    }
  }
}
