@import "theme-variables";

app-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: $navigation-width;
  min-width: $navigation-width;
  max-width: $navigation-width;
  z-index: 1000;
  transition-property: transform, width, min-width, max-width, -webkit-transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  // box-shadow: 0 2px 8px 0 rgba(black, 0.35);
  background: #fff;

  &.left-positioned,
  &.right-positioned {
    &:not(.open) {
      box-shadow: none;
    }
  }

  &.left-positioned {
    left: 0;
    transform: translateX(-100%);
  }

  &.right-positioned {
    right: 0;
    transform: translateX(100%);
  }

  &.open {
    transform: translateX(0);
  }

  &.locked-open {
    position: relative !important;
    transform: translateX(0) !important;
  }

  &.folded {
    position: absolute !important;
    top: 0;
    bottom: 0;

    &:not(.unfolded) {
      width: $navigation-folded-width;
      min-width: $navigation-folded-width;
      max-width: $navigation-folded-width;
    }
  }

  &.animations-enabled{
    transition-property:width,min-width,max-width,-webkit-transform;
    transition-property:transform,width,min-width,max-width;
    transition-property:transform,width,min-width,max-width,-webkit-transform;
    transition-duration:150ms;
    transition-timing-function:ease-in-out
  }
}

.app-sidebar-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(black, 0.6);
  opacity: 0;

  &.fuse-sidebar-overlay-invisible {
    background-color:transparent;
  }
}
