@import "theming";

:host {
  .folded:not(.unfolded) & {
    .nav-link {
      > span {
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    }

    &.open {
      .children {
        display: none !important;
      }
    }
  }

  .nav-link {
    .collapse-arrow {
      transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out 0.1s;
      transform: rotate(0);
    }
  }

  > .children {
    overflow: hidden;
  }

  &.open {
    > .nav-link {
      .collapse-arrow {
        transform: rotate(90deg);
      }
    }
  }
}
