<ng-template [ngIf]="!item.url && !item.function">
  <a class="nav-link" matRipple (click)="toggleOpen($event)">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
    <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
  </a>
</ng-template>

<ng-template [ngIf]="item.url && !item.externalUrl && !item.function">
  <a class="nav-link" matRipple (click)="toggleOpen($event)" [target]="item.openInNewTab ? '_blank' : '_self'"
    [routerLink]="item.url" [routerLinkActive]="['active', 'accent-border-left', 'bl-4', 'pl-20']" [routerLinkActiveOptions]="{exact: item.exactMatch || false}">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
    <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
  </a>
</ng-template>

<ng-template [ngIf]="item.url && item.externalUrl && !item.function">
  <a class="nav-link" matRipple (click)="toggleOpen($event)" [href]="item.url" [target]="item.openInNewTab ? '_blank' : '_self'">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
    <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
  </a>
</ng-template>

<ng-template [ngIf]="!item.url && item.function">
  <span class="nav-link" matRipple (click)="toggleOpen($event); item.function()">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
    <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
  </span>
</ng-template>

<ng-template [ngIf]="item.url && !item.externalUrl && item.function">
  <a class="nav-link" matRipple (click)="toggleOpen($event); item.function()" [routerLink]="item.url"
    [routerLinkActive]="['active', 'accent-border-left', 'bl-4', 'pl-20']" [routerLinkActiveOptions]="{exact: item.exactMatch || false}">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
    <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
  </a>
</ng-template>

<ng-template [ngIf]="item.url && item.externalUrl && item.function">
  <a class="nav-link" matRipple (click)="toggleOpen($event); item.function()"
    [href]="item.url" [target]="item.openInNewTab ? '_blank' : '_self'">
    <mat-icon class="nav-link-icon s-20" *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
    <span class="nav-link-badge" *ngIf="item.badge"
          [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
          [translate]="item.badge.translate">{{ item.badge.title }}</span>
    <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
  </a>
</ng-template>

<div class="children" [@slideInOut]="isOpen">
  <ng-template ngFor let-child [ngForOf]="item.children">
    <app-nav-vertical-item *ngIf="child.type === 'item'" [item]="child"></app-nav-vertical-item>
    <app-nav-vertical-collapse *ngIf="child.type === 'collapse'" [item]="child"></app-nav-vertical-collapse>
    <app-nav-vertical-group *ngIf="child.type === 'group'" [item]="child"></app-nav-vertical-group>
  </ng-template>
</div>
