<h1 mat-dialo-title>{{ notificationTitle }}</h1>
<div mat-dialog-content>{{ notificationMessage }}</div>
<div mat-dialog-actions class="pt-24">
  <button mat-raised-button class="mat-accent" mat-dialog-close translate>OK</button>
</div>
