@import "theme-variables";

:host {
  display: flex;
  flex: 0 0 auto;
  z-index: 3;

  .mat-toolbar {
    background: inherit;
    color: inherit;
    // box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.05);
    // box-shadow: 0 -1px 1px -1px rgba(black, 0.12), 0 0 1px 0 rgba(black, 0.14), 0 -1px 3px 0 rgba(black, 0.12);
  }

  &.above {
    position: relative;
    z-index: 99;
  }
}
