<mat-toolbar [ngClass]="[settings.layout.footer.elevation]">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
    <div fxLayout="row" fxLayoutAlign="start center">
      <p class="fz-14 disabled">&copy; Copyright 2018</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
      <p class="fz-14">version {{ version }}</p>
    </div>
  </div>
</mat-toolbar>
