<ng-template [ngIf]="!item.hidden">
  <div class="group-title">
    <span class="hint-text" [translate]="item.translate">{{ item.title }}</span>
  </div>
  <div class="group-items">
    <ng-template ngFor let-childItem [ngForOf]="item.children">
      <app-nav-vertical-item *ngIf="childItem.type === 'item'" [item]="childItem"></app-nav-vertical-item>
      <app-nav-vertical-collapse *ngIf="childItem.type === 'collapse'" [item]="childItem"></app-nav-vertical-collapse>
      <app-nav-vertical-group *ngIf="childItem.type === 'group'" [item]="childItem"></app-nav-vertical-group>
    </ng-template>
  </div>
</ng-template>
