<ng-template [ngIf]="!item.hidden">
  <ng-template [ngIf]="!item.url && !item.function">
    <a class="nav-link" matRipple>
      <mat-icon class="nav-link-icon" *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span class="nav-link-badge" *ngIf="item.badge"
            [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
            [translate]="item.badge.translate">{{ item.badge.title }}</span>
      <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
      <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
    </a>  
  </ng-template>

  <ng-template [ngIf]="item.url && !item.function">
    <a class="nav-link" matRipple [routerLink]="item.url" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: item.exactMatch || false}">
      <mat-icon class="nav-link-icon" *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
      <span class="nav-link-badge" *ngIf="item.badge"
            [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
            [translate]="item.badge.translate">{{ item.badge.title }}</span>
    </a>  
  </ng-template>

  <ng-template [ngIf]="!item.url && item.function">
    <span class="nav-link" matRipple (click)="item.function()">
      <mat-icon class="nav-link-icon" *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span class="nav-link-badge" *ngIf="item.badge"
            [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
            [translate]="item.badge.translate">{{ item.badge.title }}</span>
      <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
      <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
    </span>
  </ng-template>

  <ng-template [ngIf]="item.url && item.function">
    <a class="nav-link" matRipple (click)="item.function()" [routerLink]="item.url" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: item.exactMatch || false}">
      <mat-icon class="nav-link-icon" *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span class="nav-link-title" [translate]="item.translate">{{ item.title }}</span>
      <span class="nav-link-badge" *ngIf="item.badge"
            [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.fg}"
            [translate]="item.badge.translate">{{ item.badge.title }}</span>
    </a>
  </ng-template>

  <div class="children" [class.open]="isOpen">
    <div [ngClass]="settings.layout.navbar.background">
      <ng-template ngFor let-child [ngForOf]="item.children">
        <app-nav-horizontal-item *ngIf="child.type === 'item'" [item]="child"></app-nav-horizontal-item>
        <app-nav-horizontal-collapse *ngIf="child.type === 'collapse'" [item]="child"></app-nav-horizontal-collapse>
        <app-nav-horizontal-collapse *ngIf="child.type === 'group'" [item]="child"></app-nav-horizontal-collapse>
      </ng-template>
    </div>
  </div>
</ng-template>
